@import './styles/utils.scss';

.popup__container_type_cities {
  width: 100%;
  padding: 50px 15px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 400px;
  max-height: calc(100vh - 30px);
  height: fit-content;

  & > .popup__form {
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
  }
}

.cities__title {
  margin-bottom: 30px;
  font-size: 23px;
  text-align: center;
}

.cities__container {
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.cities__list {
  margin: 0;
  padding: 0;
  font-family: $protoGrotesk;
  font-size: 15px;
  line-height: 1.25;
  letter-spacing: .2px;
  list-style: none;

  &_type_primary:after {
    content: '';
    display: block;
    border-bottom: 1px solid $lightGray;
    width: 370px;
    margin-bottom: 15px;
  }
}

.cities__list-item {
  margin-bottom: 10px;
  text-align: center;

  &:last-of-type {
    margin-bottom: 15px;
  }
}

.cities__city {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;

  &:hover {
    cursor: pointer;
  }
}

@include atDesktop1024 {
  .cities {
    &__title {
      margin-bottom: 50px;
      font-size: 19px;
    }

    &__capitals:after {
      width: 290px;
    }
  }
}

@include atMobile {
  .popup__container_type_cities {
    max-width: 320px;
    max-height: 547px;
    padding: 30px 15px;
  }
}