@import './styles/utils.scss';

.recommendation {
  &_place_page {
    padding-top: 40px;
    margin: 0 auto;
  }

  &__container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 30px 30px 50px;
    border-radius: 30px;
    max-width: 770px;
    margin: 0 auto;
    background-color: $white;
  }

  &__close-button {
    align-self: flex-end;
    padding: 0;
    background-image: url('../../assets/popup_close.svg');
    width: 20px;
    height: 20px;
    background-size: 40px 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    outline: none;
    border: none;
    color: $blue;
    cursor: pointer;
  }

  &__text {
    font-style: normal;
    font-family: $protoGrotesk;
    font-weight: 300;
    font-size: 23px;
    line-height: 1.3;
    color: $black;
    text-align: center;
    margin-top: 20px;

    &_place_page {
      margin: 0;
    }

    &-link {
      color: $blue;
      border: none;
      outline: none;
      background-color: transparent;
      transition: .3s ease;

      &:hover {
        color: $darkBlue;
        cursor: pointer;
      }
    }
  }
}

// @include atDesktop1440 {
//   .recommendation_place_page {
//     margin: 0 135px;
//   }
// }

// @include atDesktop1024 {
//   .recommendation_place_page {
//     margin: 0 127px;
//   }
// }

@include atTablet {
  .recommendation{
    // &_place_page {
    //   padding-top: 30px;
    //   margin: 0 60px;
    // }

    &__container {
      padding-top: 15px;
      padding-bottom: 30px;
    }

    &__close-button {
      margin-top: 10px;
    }

    &__text {
      font-size: 19px;
      line-height: 1.21;
      margin-top: 15px;
    }
  }
}

@include atMobile {
  .recommendation {
    // &_place_page {
    //   margin: 0 15px;
    // }

    &__close-button {
      margin-right: 15px;
    }

    &__container {
      padding: 30px 15px;
    }
  }
}
