@import './styles/utils.scss';

.recommendation {
  &_place_page {
    position: relative;
    padding-top: 40px;
    margin: 0 auto;
    z-index: 8;
  }

  &__container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 30px 30px 50px;
    border-radius: 30px;
    max-width: 770px;
    margin: 0 auto;
    background-color: $white;
  }

  &__close-button {
    align-self: flex-end;
  }

  &__text {
    text-align: center;
    margin-top: 20px;

    &_place_page {
      margin: 0;
    }

    &-link {
      color: $blue;
      border: none;
      outline: none;
      background-color: transparent;
      transition: .3s ease;
      padding: 0;

      &:hover {
        color: $darkBlue;
        cursor: pointer;
      }
    }
  }
}

@include atTablet {
  .recommendation {
    &__container {
      padding-top: 25px;
      padding-bottom: 30px;
    }

    &__close-button {
      margin-bottom: 10px;
    }

    &__text {
      font-size: 19px;
      line-height: 1.21;
      margin-top: 5px;
    }
  }
}

@include atMobile {
  .recommendation {
    max-width: 450px;

    &__close-button {
      margin-right: 10px;
    }

    &__container {
      padding: 25px 15px 30px;
    }
  }
}
