@import './styles/utils.scss';

@keyframes spin {
  0% {
    opacity: 1;
    transform: scale(1.4, 1.4);
    animation-timing-function: ease-in;
  }

  25% {
    animation-timing-function: ease-out;
  }

  51% {
    opacity: 0.95;
    animation-timing-function: ease-in;
  }

  75% {
    animation-timing-function: ease-out;
  }

  86%,
  100% {
    opacity: 0.9;
    transform: scale(0, 0);
  }
}

.spinner {
  width: 148px;
  height: 148px;
  display: block;
  margin: 0 auto;

  &_centered {
    width: 100%;
    height: 100%;
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_nested {
    margin: 100px auto;
  }

  &_small-grid {
    margin: 70px auto;
  }
}

@include atDesktop1199 {
  .spinner {
    &_small-grid {
      margin: 87px auto;
    }
  }
}

@include atDesktop1024 {
  .spinner {
    &_small-grid {
      margin: 81px auto;
    }
  }
}

@include atTablet {
  .spinner {
    &_nested {
      margin: 50px auto;
    }

    &_small-grid {
      margin: 25px auto;
    }
  }
}

.spinner__container {
  width: 148px;
  height: 148px;
  position: relative;
}

.spinner__circle {
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #2e2468;
  animation: spin 1s linear infinite;
}

.spinner__circle_1 {
  right: 5px;
  top: 65px;
  animation-delay: -0.92s;
}

.spinner__circle_7 {
  left: 5px;
  top: 65px;
  animation-delay: -0.42s;
}
//
.spinner__circle_4 {
  left: 65px;
  bottom: 5px;
  animation-delay: -0.67s;
}

.spinner__circle_10 {
  left: 65px;
  top: 5px;
  animation-delay: -0.17s;
}
//
.spinner__circle_2 {
  right: 12px;
  bottom: 35px;
  animation-delay: -0.83s;
}

.spinner__circle_6 {
  left: 12px;
  bottom: 35px;
  animation-delay: -0.5s;
}
//
.spinner__circle_3 {
  right: 33px;
  bottom: 14px;
  animation-delay: -0.75s;
}

.spinner__circle_5 {
  left: 33px;
  bottom: 14px;
  animation-delay: -0.58s;
}
//
.spinner__circle_8 {
  left: 12px;
  top: 35px;
  animation-delay: -0.33s;
}

.spinner__circle_12 {
  right: 12px;
  top: 35px;
  animation-delay: 0s;
}
//
.spinner__circle_9 {
  left: 33px;
  top: 14px;
  animation-delay: -0.25s;
}

.spinner__circle_11 {
  right: 33px;
  top: 14px;
  animation-delay: -0.08s;
}
