@import './styles/utils.scss';

.form-recom {
  box-sizing: border-box;
  opacity: 0;
  height: 0;
  min-height: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: min-height .6s ease-out;
  padding: 0 70px;

  &_opened {
    min-height: 541px;
    padding-top: 40px;
    animation: fade-in .5s ease 1s forwards;
  }

  &_animated {
    height: fit-content;
  }

  &__input-container {
    display: flex;
    flex-wrap: nowrap;
  }

  &__input-wrap {
    position: relative;
    flex-grow: 1;

    &_indentation {
      margin-right: 30px;
    }
  }

  &__input {
    width: 100%;
    margin-bottom: 25px;

    &_textarea {
      overflow-y: visible;
      resize: vertical;
      min-height: 67px;
    }
  }

  &__input-error {
    position: absolute;
    bottom: 9px;
    left: 10px;
    color: $error;
    font-family: $protoGrotesk;
    font-size: 11px;
    line-height: 1;
    letter-spacing: 1px;
  }

  &__label {
    flex-grow: 1;
    position: relative;
    height: 48px;
    box-sizing: border-box;
    margin-right: 30px;
    outline: none;
    border: none;
    border-radius: 30px;
    padding: 13px 20px 16px;
    background-color: $background;
    font-family: $protoGrotesk;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.3;
    letter-spacing: 0.2px;
  }

  &__input-radio {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }

  &__pseudo-radio {
    display: flex;
    align-items: center;
    color: $lightGray;
    transition: color .3s ease;
  
    &::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 20px;
      background-color: $white;
      border-radius: 50%;
      transition: color .3s ease;
    }
  }

  &__pseudo-radio_error {
    color: $error;
  
    &::before {
      background-color: $error;
      opacity: .2;
    }
  }

  &__input-radio:checked + .form-recom__pseudo-radio {
    color: $black;
    &::before {
      width: 10px;
      height: 10px;
      border: 5px solid $white;
      background-color: $black;
    }
  }

  &__select {
    height: 48px;
    margin-bottom: 20px;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-radius: 30px;
    padding: 13px 20px 16px;
    color: $lightGray;
    background-color: $background;
    font-family: $protoGrotesk;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.3;
    letter-spacing: 0.2px;
  
    &_error {
      color: $error;
    }
  }

  &__submit-zone {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__add-photo {
    display: flex;
    align-items: center;
  
    &::after {
      content: 'Добавить фото';
      white-space: nowrap;
      color: $lightGray;
      font-family: $protoGrotesk;
      font-weight: 300;
      font-size: 15px;
      line-height: 1.27;
      letter-spacing: 0.2px;
      margin-left: 68px;
      pointer-events: none;
    }
  
    &_error::after {
      color: $error;
    }
  }
}

.form-recom__input[type="number"]::-webkit-outer-spin-button,
.form-recom__input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-recom__input[type="number"] {
  -moz-appearance: textfield;
}
.form-recom__input[type="number"]:hover,
.form-recom__input[type="number"]:focus {
  -moz-appearance: number-input;
}

@include atDesktop1024 {
  .form-recom {
    padding: 0;

    &_opened {
      padding-top: 40px;
    }
  }
}

@include atTabletL {
  .form-recom {
    &_opened {
      min-height: 718px;
    }
    
    &__input-container {
      flex-direction: column;
    }

    &__input-wrap {
      &_indentation {
        margin-right: 0;
      }
    }

    &__input {
      margin-bottom: 20px;
    }

    &__input-error {
      bottom: 5px;
    }

    &__label {
      margin: 0 0 20px;
    }
  }
}

@include atDesktop1024 {
  .form-recom {
    &__add-photo {
      &::after {
        font-size: 12px;
        line-height: 1.42;
        margin-left: 55px;
      }
    }
  }
}

@include atMobile {
  .form-recom {
    &_opened {
      min-height: 668px;
      padding-top: 30px;
    }

    &__label {
      height: 44px;
    }

    &__pseudo-radio {
      font-size: 12px;
  
      &::before {
        width: 15px;
        height: 15px;
        margin-right: 10px;
      }
    }

    &__input-radio:checked + .form-recom__pseudo-radio {
      color: $black;
      &::before {
        width: 7px;
        height: 7px;
        border: 4px solid $white;
        background-color: $black;
      }
    }

    &__select {
      font-size: 12px;
      height: 44px;
    }
  }
}
