@import './styles/utils.scss';

.form-recom {
  box-sizing: border-box;
  opacity: 0;
  height: 0;
  min-height: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: min-height .6s ease-out;
  padding: 0 70px;

  &_opened {
    min-height: 517px;
    padding-top: 40px;
    animation: fade-in .5s ease 1s forwards;
  }

  &_animated {
    height: fit-content;
  }

  &__input-container {
    display: flex;
    flex-wrap: nowrap;
  }

  &__input-wrap {
    max-width: 100%;
    margin-bottom: 15px;

    &_indentation {
      margin-right: 30px;
    }

    &__medium {
      max-width: 340px;
    }

    &_narrow {
      max-width: 170px;
    }
  }

  &__input {
    margin-bottom: 15px;

    &_textarea {
      > .textarea {
        overflow-y: visible;
        resize: vertical;
        min-height: 67px;
      }
    }
  }

  &__label {
    flex-grow: 1;
    position: relative;
    height: 48px;
    box-sizing: border-box;
    margin-right: 30px;
    outline: none;
    border: none;
    border-radius: 30px;
    padding: 13px 20px 16px;
    background-color: $background;
    font-family: $protoGrotesk;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.3;
    letter-spacing: 0.2px;
  }

  &__input-radio {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }

  &__pseudo-radio {
    display: flex;
    align-items: center;
    color: $lightGray;
    transition: color .3s ease;
  
    &::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 20px;
      background-color: $white;
      border-radius: 50%;
      transition: color .3s ease;
    }
  }

  &__pseudo-radio_error {
    color: $error;
  
    &::before {
      background-color: $error;
      opacity: .2;
    }
  }

  &__input-radio:checked + .form-recom__pseudo-radio {
    color: $black;
    &::before {
      width: 10px;
      height: 10px;
      border: 5px solid $white;
      background-color: $black;
    }
  }

  &__submit-zone {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__add-photo-error {
    display: block;
    color: $error;
    font-family: $protoGrotesk;
    font-size: 11px;
    line-height: 1.2;
    margin-bottom: 5px;
  }

  &__add-photo-container {
    display: flex;
    align-items: center;
    column-gap: 20px;
    height: 48px;
  }

  &__add-photo-label {
    display: flex;
    align-items: center;

    &:hover {
      cursor: pointer;

      & .form-recom__add-photo-btn {
        background-image: url(../../assets/blue-cross.svg);
        border: solid 1px $blue;
      }

      & .form-recom__add-photo-span {
        color: $blue;
      }
    }
  }

  &__add-photo-btn {
    margin-right: 20px;
  }

  &__add-photo-span {
    white-space: nowrap;
    color: $lightGray;
    font-family: $protoGrotesk;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.27;
    letter-spacing: 0.2px;
    transition: 0.3s ease;

    &_error {
      color: $error;
    }

    &_text {
      color: $black;
      white-space: normal;
      pointer-events: none;
    }
  }
}

.form-recom__input[type="number"]::-webkit-outer-spin-button,
.form-recom__input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-recom__input[type="number"] {
  -moz-appearance: textfield;
}
.form-recom__input[type="number"]:hover,
.form-recom__input[type="number"]:focus {
  -moz-appearance: number-input;
}

@include atDesktop1024 {
  .form-recom {
    padding: 0;

    &_opened {
      padding-top: 40px;
      min-height: 509px;
    }

    &__add-photo-container {
      height: 40px;
      column-gap: 15px;
      margin-right: 20px;
    }

    &__add-photo-btn {
      margin-right: 15px;
    }

    &__add-photo-span {
      font-size: 12px;
      line-height: 1.42;
      text-align: center;
    }
  }
}

@include atTabletL {
  .form-recom {
    &_opened {
      min-height: 606px;
    }
    
    &__input-container {
      flex-direction: column;
    }

    &__input-wrap {
      margin-bottom: 5px;

      &_indentation {
        margin-right: 0;
      }

      &_narrow {
        max-width: 100%;
      }
    }

    &__label {
      margin: 0 0 10px;
    }

    &__input {
      &_textarea {
        > .textarea {
          min-height: 40px;
        }
      }
    }
  }
}

@include atMobile {
  .form-recom {
    &_opened {
      min-height: 532px;
      padding-top: 30px;
    }

    &__label {
      height: 40px;
    }

    &__pseudo-radio {
      font-size: 12px;
  
      &::before {
        width: 15px;
        height: 15px;
        margin-right: 10px;
      }
    }

    &__input-radio:checked + .form-recom__pseudo-radio {
      color: $black;
      &::before {
        width: 7px;
        height: 7px;
        border: 4px solid $white;
        background-color: $black;
      }
    }
  }
}
