@import './styles/utils.scss';

.pseudo-button-label {
  display: inline-block;
  position: relative;
}

.pseudo-button-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.pseudo-button {
  box-sizing: border-box;
  user-select: none;
  border: 1px solid $black;

  &:hover {
    background-color: $lightGray;
  }
}

.pseudo-button-checkbox:checked + .pseudo-button {
  background-color: $black;
  color: $background;

  &:hover {
    background-color: $darkBlue;
    color: $background;
    border-color: $darkBlue;
  }
}

.active-filter {
  background-color: $black;
  color: $background;

  &:hover {
    background-color: $darkBlue;
    color: $background;
    border-color: $darkBlue;
  }
}
