@import './styles/utils.scss';

.readwatch-page {
  display: grid;
  grid-gap: 80px;
  gap: 80px;
  grid-template-columns: 1fr;
}

@include atDesktop1024 {
  .readwatch-page {
    grid-gap: 50px;
    gap: 50px;
  }
}

@include atTablet {
  .readwatch-page {
    grid-gap: 30px;
    gap: 30px;
  }
}


// настройки слайдера
.readwatch__section {
  position: relative;
}

.readwatch__slider-container {
  width: 100%;
}

.rec.rec-slider-container {
  margin: 0;
}

.readwatch__slider-container .cards-section__item {
  margin-top: 0; // отступ от карточки выше
  margin-bottom: 0; // отступ от карточки ниже
}

.rec.rec-arrow {
  position: absolute;
  /* visibility: hidden; */
  font-size: 0;
  box-shadow: none;
  /* border: 1px solid black; */
  border: none; 
  width: 30px;
  min-width: 30px;
  height: 30px;
  border-radius: 0;
  background-color: transparent;
}

/* левая стрелка, настройка */
.rec.rec-arrow.rec-arrow-left {
  top: 15px;
  right: 60px;
  background-image: url("../../assets/arrow-left-blue.svg"); /* нормальный цвет стрелки (активна) */
  background-position: center;
  background-size: 30px 30px;
  background-repeat: no-repeat;
}

/* правая стрелка, настройка */
.rec.rec-arrow.rec-arrow-right {
  top: 15px;
  right: 5px;

  background-image: url("../../assets/arrow-right-blue.svg"); /* нормальный цвет стрелки (активна) */
  background-position: center;
  background-size: 30px 30px;
  background-repeat: no-repeat;
}

/* стрелка влево, когда неактивна */
.rec.rec-arrow.rec-arrow-left:disabled {
  background-image: url("../../assets/arrow-left-grey.svg");
  background-position: center;
  background-size: 30px 30px;
  background-repeat: no-repeat;
}

/* стрелка вправо, когда неактивна */
.rec.rec-arrow.rec-arrow-right:disabled {
  background-image: url("../../assets/arrow-right-grey.svg");
  background-position: center;
  background-size: 30px 30px;
  background-repeat: no-repeat;
}

/* отмена ховеров чуваков из библиотеки */
.rec.rec-arrow.rec-arrow-right:hover,
.rec.rec-arrow.rec-arrow-right:focus,
.rec.rec-arrow.rec-arrow-left:hover,
.rec.rec-arrow.rec-arrow-left:focus {
  color: none;
  background-color: transparent;
  box-shadow: none;
}

/* свои фокус-стили приятные */
.rec.rec-arrow.rec-arrow-right:focus,
.rec.rec-arrow.rec-arrow-left:focus {
  outline: 1px solid #224CFF;
}

// @media (max-width: 820px) {
//   .rec.rec-arrow.rec-arrow-left {
//     right: 45px;
//   }
// }

@media (max-width: 639px) {
  // .readwatch__container {
  //   padding-bottom: 10px;
  // }

  .rec.rec-arrow.rec-arrow-right,
  .rec.rec-arrow.rec-arrow-left {
    top: 5px;
    width: 20px;
    min-width: 20px;
    height: 20px;
    background-size: 20px 20px;
  }
  
  .rec.rec-arrow.rec-arrow-left:disabled,
  .rec.rec-arrow.rec-arrow-right:disabled {
    background-size: 20px 20px;
  }

  .rec.rec-arrow.rec-arrow-left {
    right: 40px;
  }
}


//////////////////////

.readwatch__container {
  display: flex;
  justify-content: center;
  position: relative;
  padding-bottom: 20px;
  border-bottom: 1px solid #224cff;
  margin-bottom: 50px;
}

.readwatch__heading-link {
  text-decoration: none;
}

.readwatch__heading {
  font-family: 'Proto', Arial, sans-serif;
  font-weight: 300;
  font-size: 44px;
  line-height: 50px;
  text-align: center;
  color: #224cff;
}

.readwatch__heading:hover {
  color: #2e2468;
}

.readwatch__item-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 1024px) {
  .readwatch__heading {
    text-align: left;
  }

  .readwatch__container {
    justify-content: flex-start;
  }
}

@media (max-width: 640px) {
  .readwatch__container {
    padding-bottom: 10px;
  }

  .readwatch__heading {
    text-align: left;
    font-size: 23px;
    line-height: 30px;
  }

  // .readwatch__back {
  //   margin-right: 15px;
  //   width: 20px;
  //   height: 20px;
  // }

  // .readwatch__forward {
  //   width: 20px;
  //   height: 20px;
  // }
}

@media (max-width: 1440px) {
  .readwatch__item-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1120px) {
  .readwatch__item-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 820px) {
  .readwatch__item-grid {
    grid-template-columns: 1fr;
  }
}

