@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  width: 150px;
  height: 150px;
  background-image: url('../../../assets/loader.svg');
  background-repeat: no-repeat;
  background-size: 144px;
  background-position: center;
  margin: 0 auto;
  animation: rotation 1.2s infinite linear;
}
