.card-container {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 222px;
  justify-content: center;

  &_type_main-article {
    grid-template-columns: 66% 34%;
    grid-template-rows: 630px;
  }

  &_type_main-video {
    grid-template-columns: 32% 68%;
    grid-template-rows: minmax(675px, 1fr);
  }

  &_type_article {
    grid-template-rows: 224px 222px;
  }

  &_type_identical {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 520px;
    gap: 30px;
  }

  &_type_iframe {
    grid-template-columns: 420px 1fr;
    grid-template-rows: minmax(627px, 1fr);
    gap: 30px;
  }

  &_type_personal-area {
    max-width: 1170px;
    grid-template-columns: 40% 60%;
    grid-template-rows: 470px;
  }
}

@include atDesktop1440 {
  .card-container {

    &_type_main-article {
      grid-template-columns: 1fr 1fr;
    }

    &_type_identical {
      grid-template-rows: 420px;
    }

    &_type_iframe {
      grid-template-columns: 410px 1fr;
    }

    &_type_main-video {
      grid-template-rows: minmax(451px, 1fr);
    }
  }
}

@include atDesktop1380 {
  .card-container_type_personal-area {
    grid-template-columns: 1fr;
    grid-template-rows: 450px 1fr;
    padding-top: 30px;

    &:first-of-type {
      padding-top: 30px;
    }
  }

}

@include atDesktop1199 {
  .card-container {
    &_type_main-article {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 188px;
    }
  }
}

@include atDesktop1024 {
  .card-container {
    &_type_main-video {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 147px;
    }

    &_type_article {
      grid-template-rows: 176px 188px;
    }

    &_type_identical {
      grid-template-rows: 382px;
    }

    &_type_iframe {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: min-max(552px, 1fr);
    }

    &_type_main-video {
      grid-template-rows: minmax(585px, 1fr);
    }
  }
}

@media screen and (max-width: 970px) {
  .card-container_type_iframe {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@include atTabletL {
  .card-container {
    &_type_identical {
      grid-template-columns: 1fr;
      grid-template-rows: 382px 290px;
    }

    &_type_iframe {
      grid-template-columns: 1fr;
      grid-template-rows: 433px 1fr;
    }

    &_type_main-video {
      grid-template-rows: minmax(312px, 1fr);
    }
  }
}

@include atMobile {
  .card-container {
    grid-template-columns: minmax(290px, 450px);

    &_type_identical {
      grid-template-columns: minmax(290px, 450px);
    }

    &_type_iframe {
      grid-template-columns: minmax(290px, 450px);
    }

    &_type_personal-area {
      grid-template-rows: 290px 1fr;
    }
  }
}
