.link {
  display: block;
  margin: 0 auto;
  font-family: $protoGrotesk;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.3;
  text-decoration: none;
  letter-spacing: 0.2px;
  color: $blue;
  transition: .3s ease;

  &:hover{
    color: $darkBlue;
  }

  &:visited {
    color: $darkBlue;
  }
}

.link_type_test {
  margin-top: 40px;
}

@include atDesktop1024 {
  .link {
    font-size: 12px;
    line-height: 1.4;
  }
}
