@keyframes scale-in {
  0% {
    transform: scale(.8);
    transform-origin: bottom;
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.scale-in {
  animation: scale-in .7s ease-out forwards;
}
