@keyframes scale-in {
  0% {
    transform: scale(.9);
    transform-origin: bottom;
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.scale-in {
  transform: scale(.9);
  transform-origin: bottom;
  opacity: 0;
  transition: .3s ease;
  animation: scale-in .7s ease-out forwards;
}
