@import './styles/utils.scss';

.select {
  position: relative;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 30px;

  &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    outline: none;
    border: none;
    border-radius: 30px;
    padding: 13px 20px 16px;
    color: $lightGray;
    background-color: $background;
    font-family: $protoGrotesk;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.3;
    letter-spacing: 0.2px;
    text-align: left;
    transition: .2s ease;

    &:hover {
      cursor: pointer;
    }

    &_pressed {
      color: $black;
      border-radius: 30px 30px 0 0;
    }

    &_selected {
      color: $black;
    }

    &_error {
      color: $error;
    }
  }

  &__arrow {
    stroke: $lightGray;
    transition: .2s ease;

    &_pressed {
      stroke: $black;
      transform: rotate(-180deg);
    }

    &_error {
      stroke: $black;
    }
  }

  &__dropdown {
    position: absolute;
    top: 42px;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    visibility: hidden;
    opacity: 0;
    height: 0;
    border-radius: 0 0 30px 30px;
    box-shadow: 0px 10px 10px rgba($black, 0.14);
    transition: .3s ease;

    &_opened {
      visibility: visible;
      opacity: 1;
      height: fit-content;
    }
  }

  &__option {
    box-sizing: border-box;
    padding: 0 20px 10px;
    background-color: $background;

    &:last-of-type {
      padding-bottom: 13px;
      border-radius: 0 0 30px 30px;
    }
  }

  &__label {
    position: relative;
  }

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }

  &__span {
    box-sizing: border-box;
    color: $lightGray;
    background-color: $background;
    font-family: $protoGrotesk;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.3;
    letter-spacing: 0.2px;
    text-align: left;
    transition: .3s ease;

    &:hover {
      cursor: pointer;
      color: $black;
    }
  }
}
