@import './styles/utils.scss';

.recommendation {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 50px 30px;
  background-color: $white;
  border-radius: 30px;
  max-width: 770px;

  &_place_page {
    margin: 0 auto 80px;
  }

  &__text {
    font-style: normal;
    font-family: $protoGrotesk;
    font-weight: 300;
    font-size: 23px;
    line-height: 30px;
    color: $black;
    margin: 0 auto 40px;
    text-align: center;

    &_place_page {
      margin: 0;
    }

    &-link {
      color: $blue;
      text-decoration: none;

      &:hover {
        color: $darkBlue;
      }
    }
  }
}
