@import './styles/utils.scss';

.card-video-info {
  box-sizing: border-box;
  padding: 15px 30px;
  text-align: center;
  width: 100%;
  min-height: 169px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &_main {
    border-radius: 30px;
    background-color: $yellow;
  }
}

.card-video-info__title-wrap {
  text-align: center;
}

.card-video-info__title {
  margin: 0 auto 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  box-orient: vertical;
}

.card-video-info__info {
  margin: 0 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  box-orient: vertical;
}

.card-video-info__link {
  display: block;
  margin: 0 auto;
  text-decoration: none;
}

@include atDesktop1440 {
  .card-video-info {
    min-height: 147px;
  }
}

@include atDesktop1024 {
  .card-video-info {
    &_main {
      border-radius: 0 0 30px 30px;
    }
  }

  .card-video-info__video-info {
    padding: 15px;
    min-height: 147px;
  }

  .card-video-info__title {
    font-size: 19px;
    line-height: 1.2;
  }

  .card-video-info__info {
    font-size: 12px;
  }

  .card-video-info__link {
    font-size: 12px;
    line-height: 1.4;
  }
}
