@import './styles/utils.scss';

.articles {
  &__single-card-container {
    margin: 80px auto 0;
  }

  &__single-card-paragraph {
    padding: 30px 15px;
    display: none;
  }

  &__main {
    padding-top: 80px;
  }

  &__cards-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(290px, 1fr));
    gap: 80px 30px;
    padding-top: 80px;
  }
}

@include atDesktop1279 {
  .articles {
    &__cards-grid {
      grid-template-columns: repeat(2, minmax(290px, 1fr));
    }
  }
}

@include atDesktop1199 {
  .articles {
    &__single-card-container {
      max-width: 570px;
      margin: 80px auto 0;

      & .card-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
      }

      & .card-annotation {
        display: none;
      }
    }

    &__single-card-paragraph {
      display: block;
    }
  }
}

@include atDesktop1024 {
  .articles {
    &__main {
      padding-top: 50px;
    }

    &__cards-grid {
      grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
      padding-top: 50px;
      row-gap: 30px;
    }

    &__single-card-container {
      margin-top: 50px;
    }
  }
}

@include atTablet {
  .articles {
    &__cards-grid {
      grid-template-columns: 1fr;
      padding-top: 30px;
    }

    &__main {
      padding-top: 30px;
    }

    &__single-card-container {
      margin-top: 30px;
    }
  }
}
