@import './styles/utils.scss';

.animated-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
}

.animated-section__animation {
  max-width: 720px;
  margin-top: 40px;
  width: 100%;
  margin-bottom: 36px;
}

.animated-section__subtitle {
  max-width: 720px;
  margin: 0 auto 50px;
  text-align: center;
}

.animated-section__link {
  text-decoration: none;
}

@include atDesktop1024 {
  .animated-section__subtitle {
    max-width: 590px;
  }
}

@include atMobile {
  .animated-section__animation {
    margin-bottom: 20px;
  }

  .animated-section__subtitle {
    margin-bottom: 40px;
  }
}
