@import './styles/utils.scss';

.card-question {
  padding: 50px 50px 47px;
  position: relative;
  width: 100%;

  &__rubric {
    align-self: flex-start;
    background-color: $background;
  }

  &__title {
    max-width: 770px;
    margin: 0 0 17px;
  }

  &__tags {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
}

@include atDesktop1024 {
  .card-question {
    padding: 30px 15px 15px;
  }
}

@include atMobile {
  .card-question {
    padding: 30px 15px 15px;

    &__tags {
      flex-direction: column;
    }
  }
}
