@import './styles/utils.scss';

.input-file-upload {
  display: inline-block;
  position: relative;
  margin: 0 auto;

  &:hover {
    cursor: pointer;
  }
}

.input-file-upload__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.input-file-upload__pseudo-button {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid $lightGray;
  background-image: url(../../../assets/plus-icon_gray.svg);
  background-repeat: no-repeat;
  background-position: center;
}

@include atMobile {
  .input-file-upload__pseudo-button {
    width: 80px;
    height: 80px;
    background-size: 19px;
  }
}
