@import './styles/utils.scss';

.calendar {
  min-height: 382px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 30px;
  background-color: $white;
  font-size: 14px;
  line-height: 1.4;
  font-family: $ptRootUI;
  color: $black;
  transition: .5s ease;

  &_selected {
    background-color: $lightBlue;
  }

  &__title {
    margin: 0 15px 0 0;
    max-width: 320px;
    max-height: 4em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    box-orient: vertical;
  }

  &__weekday {
    margin: 0;
    text-transform: lowercase;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  &__confirm {
    max-width: 191px;
    margin-right: 15px;
  }

  &__about {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    &_modal {
      margin-bottom: 50px;
    }
  }

  &__info-list {
    margin: 0 auto 30px;
    padding: 0;
    list-style-type: none;
  }

  &__info-item {
    padding: 10px 0;
    border-bottom: 1px solid $lightGray;
  
    &:first-of-type {
      padding-top: 0;
    }
  
    &:last-of-type {
      padding-bottom: 0;
      border: none;
    }
  }

  &__type {
    margin: 0;
    color: $darkGray;
  }

  &__description {
    margin-top: 30px;
    max-height: 175px;
    height: 100%;
    
    > div {
      min-height: 175px;
    }
  }

  &__thumb {
    background-color: $backgroundAnnotation;
    border-radius: 5px;
  }

  &__desc-paragraph {
    box-sizing: border-box;
    max-width: 570px;
    margin: 0;
    font-family: $ptRootUI;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    color: $black;
    padding: 10px 10px 0 0;
    color: $lightBlack;
  
    &:first-of-type {
      padding-top: 0;
    }
  }

  &__date {
    font-family: $protoGrotesk;
    font-size: 100px;
    line-height: 1;
    margin: 0;
  }

  &__time {
    margin: 0;
    color: $lightBlack;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 10px;
  }

  &__place {
    margin: 0;
    color: $lightBlack;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    box-orient: vertical;
  }

  &__back {
    max-width: 215px;
    align-self: center;
  }

  &__contact {
    margin: 0;
    color: $black;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    box-orient: vertical;
  }

  &__submit {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__place-left {
    margin: 0 auto 0 15px;
    font-size: 14px;
    line-height: 1.4;
    font-family: $ptRootUI;
    align-self: center;
  }
}

@include atDesktop1279 {
  .calendar {
    padding: 30px 15px;

    &__title {
      font-size: 19px;
      line-height: 1.2;
    }

    &__place-left {
      margin: 0 auto 0 10px;
      font-size: 12px;
    }
  }
}

@include atDesktop1024 {
  .calendar {
    &__caption {
      font-size: 12px;
    }

    &__date {
      font-size: 60px;
    }

    &__meetup {
      font-size: 12px;
    }

    &__submit {
      font-size: 12px;
    }

    &__button-dots {
      padding: 0 12px;
      width: 40px;
    }

    &__desc-paragraph {
      max-width: 470px;
      font-size: 15px;
    }
  }
}

@include atMobileL {
  .calendar {
    &__desc-paragraph {
      max-width: 420px;
      font-size: 12px;
    }
  }
}

@include atMobile {
  .calendar {
    &__about {
      &_modal {
        margin-bottom: 20px;
      }
    }
    &__image-done {
      background-size: 260px 106px;
      width: 260px;
      height: 106px;
    }

    &__desc-paragraph {
      max-width: 260px;
    }
  }
}
