@import './styles/utils.scss';

.tags {
  position: relative;

  &__list {
    margin: 0 auto;
    padding: 0;
    max-width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    flex-wrap: wrap;
  }

  &__list-item {
    margin-top: 15px;
  }
}

@include atDesktop1024 {
  .tags {
    &__list-item {
      margin-top: 10px;
    }
  }
}

@include atMobileL {
  .tags {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: -1px;
      width: 40px;
      height: 100%;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, $background 100%);
      z-index: 1;
      pointer-events: none;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -1px;
      width: 40px;
      height: 100%;
      background: linear-gradient(90deg, $background 0%, rgba(255, 255, 255, 0) 100%);
      z-index: 1;
      pointer-events: none;
    }

    &__list {
      flex-wrap: nowrap;
      overflow-x: scroll;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }

      &_mobile {
        justify-content: flex-start;
      }
    }
  }
}
