@import './styles/utils.scss';

.next-article-link {
  display: flex;
  align-items: center;
  max-width: 770px;
  color: $blue;
  text-decoration: none;

  &__text {
    font-family: $protoGrotesk;
    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    line-height: 1.3;
    color: $blue;
    margin: 0 35px 0 0;
    transition: .3s ease;
  }

  &__arrow path {
    transition: .3s ease;
  }

  &:hover {
    cursor: pointer;

    & .next-article-link__text {
      color: $darkBlue;
    }

    & .next-article-link__arrow path {
      fill: $darkBlue;
    }
  }
}

@include atDesktop1024 {
  .next-article-link {
    &__text {
      font-size: 19px;
      line-height: 1.21;
    }

    &__arrow {
      width: 20px;
      height: 20px;
    }
  }
}
