@import './styles/utils.scss';

.places {
  &__single-card-container {
    margin: 80px auto 0;
  }

  &__single-card-paragraph {
    padding: 30px 15px;
    display: none;
  }

  &__tags {
    margin-top: 15px;

    > .tags__list {
      justify-content: center;
    }
  }

  &__paragraph {
    width: fit-content;
    margin: 0 auto;
    padding-top: 80px;
    font-family: $protoGrotesk;
    font-weight: 300;
    font-size: 23px;
    line-height: 1.3;
    color: $black;
    text-align: center;
  }
}

@include atDesktop1199 {
  .places {
    &__single-card-container {
      max-width: 770px;
      margin: 80px auto 0;

      & .card-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
      }

      & .card-annotation {
        display: none;
      }
    }

    &__single-card-paragraph {
      display: block;
    }
  }
}

@include atDesktop1024 {
  .places {
    &__single-card-container {
      margin-top: 50px;
    }

    &__paragraph {
      padding-top: 50px;
    }

    &__tags {
      margin-top: 10px;
    }
  }
}

@include atTablet {
  .places {
    &__single-card-container {
      margin-top: 30px;
    }
  }
}

@include atMobileSmall {
  .places {
    &__tags {
      > .tags__list {
        justify-content: flex-start;
      }
    }
  }
}
