@import './styles/utils.scss';

.places {
  &__title {
    margin-bottom: 25px;
  }

  &__main {
    padding-top: 80px;
  }

  &__tags {
    > .tags__list {
      justify-content: center;
    }
  }

  &__cards-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(290px, 1fr));
    gap: 80px 30px;
    padding: 80px 0;
  }

  &__paragraph {
    width: fit-content;
    margin: 0 auto;
    padding-top: 80px;
    font-family: $protoGrotesk;
    font-weight: 300;
    font-size: 23px;
    line-height: 1.3;
    color: $black;
    text-align: center;
  }
}

@include atDesktop1279 {
  .places {
    &__cards-grid {
      grid-template-columns: repeat(2, minmax(290px, 1fr));
    }
  }
}

@include atDesktop1024 {
  .places {
    &__title {
      margin-bottom: 10px;
    }

    &__main {
      padding-top: 50px;
    }

    &__cards-grid {
      grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
      padding: 50px 0 60px;
      row-gap: 30px;
    }

    &__paragraph {
      padding-top: 50px;
    }
  }
}

@include atTablet {
  .places {
    &__cards-grid {
      grid-template-columns: 1fr;
      padding: 30px 0;
    }
  }
}

@include atMobileL {
  .places {
    &__main {
      padding-top: 30px;
    }
  }
}

@include atMobileSmall {
  .places {
    &__tags {
      > .tags__list {
        justify-content: flex-start;
      }
    }
  }
}
