@import './styles/utils.scss';

.profile {
  &__events-area {
    box-sizing: border-box;
    border-bottom: 1px solid $darkGray;
  }

  &__events-heading {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  &__title {
    width: fit-content;
    text-align: center;
    color: $lightBlack;
    

    &_shifted {
      transform: translateX(-100px);
    }
  }

  &__archive-button {
    min-width: 200px;
    text-align: left;
  }

  &__events {
    margin-bottom: 45px;
    margin-right: -75px;
    margin-left: -75px;
  }

  &__diaries {
    position: relative;
    padding-top: 50px;
  }

  &__scroll-anchor {
    position: absolute;
    top: -55px;
    left: 0;
    width: 1px;
    height: 1px;
  }

  &__diaries-container {
    max-width: 1170px;
    margin: 0 auto;
    transition: .5s ease;
  }

  &__form-container {
    margin-bottom: 80px;
  }

  &__button-add-diary {
    display: flex;
    align-items: center;
    padding: 0;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    margin-bottom: 50px;

    & .button-round {
      margin-right: 15px;
    }
  
    &::after {
      content: 'Добавить встречу';
      white-space: nowrap;
      color: $blue;
      font-family: $protoGrotesk;
      font-weight: 300;
      font-size: 15px;
      line-height: 1.27;
      letter-spacing: 0.2px;
    }

    &:hover {
      cursor: pointer;

      & .button-round {
        background-color: $lightBlue;
      }
    }
  }

  &__diary-form {
    visibility: visible;
    height: auto;
    opacity: 1;
    pointer-events: all;
    margin-top: 50px;
    transition: .5s ease;
  }
}

.profile-event-card {
  opacity: 0;
  margin-right: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  user-select: none;
  transition: box-shadow .3s ease;

  &:hover {
    box-shadow: -12px 0 20px -12px rgba($black, 0.15), 12px 0 20px -12px rgba($black, 0.15);
  }

  &:first-of-type {
    margin-left: 75px;
  }

  &:last-of-type {
    margin-right: 75px;
  }
}

@include atDesktop1440 {
  .profile {
    &__events {
      margin-left: -135px;
      margin-right: -135px;
    }
  }

  .profile-event-card {
    &:first-of-type {
      margin-left: 135px;
    }

    &:last-of-type {
      margin-right: 135px;
    }
  }
}

@include atDesktop1380 {
  .profile {
      &__scroll-anchor {
      top: 0;
    }

    &__archive-button {
      font-size: 18px;
    }
  }
}

@include atDesktop1199 {
  .profile {
    &__diaries-container {
      max-width: 700px;
    }

    &__form-container {
      margin-bottom: 30px;
    }

    &__events-heading {
      flex-direction: column;
      align-items: center;
    }

    &__archive-button {
      text-align: center;
      margin-bottom: 10px;
    }

    &__title_shifted {
      transform: translateX(0);
    }
  }
}

@include atDesktop1024 {
  .profile {
    &__button-add-diary {
      &::after {
        font-size: 12px;
        line-height: 1.41;
      }
    }

    &__archive-button {
      font-size: 15px;
    }
  }
}

@include atTabletL {
  .profile {
    &__events {
      margin-right: -127px;
      margin-left: -127px;
      margin-bottom: 15px;
    }

    &__events-heading {
      margin-bottom: 20px;
    }

    &__archive-button {
      margin-bottom: 5px;
    }

    &__diaries {
      padding-top: 20px;
    }

    &__form-container {
      margin-bottom: 20px;
    }

    &__button-add-diary {
      margin-bottom: 20px;
    }
  }

  .profile-event-card {
    margin-right: 20px;

    &:first-of-type {
      margin-left: 127px;
    }

    &:last-of-type {
      margin-right: 127px;
    }
  }
}

@include atTablet {
  .profile {
    &__events {
      margin-right: -60px;
      margin-left: -60px;
    }
  }

  .profile-event-card {
    &:first-of-type {
      margin-left: 60px;
    }

    &:last-of-type {
      margin-right: 60px;
    }
  }
}

@include atMobile {
  .profile {
    &__events {
      margin-right: -15px;
      margin-left: -15px;
    }

    &__button-add-diary {
      height: 40px;
      font-size: 12px;
      line-height: 1.42;
    }

    &__diary-form {
      margin-top: 20px;
    }
  }

  .profile-event-card {
    &:first-of-type {
      margin-left: 15px;
    }

    &:last-of-type {
      margin-right: 15px;
    }
  }
}
