@import './styles/utils.scss';

.profile {
  &__events-area {
    box-sizing: border-box;
    border-bottom: 1px solid $darkGray;
  }

  &__title {
    margin-bottom: 50px;
    width: fit-content;
    text-align: center;
    color: $lightBlack;
  }

  &__events {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  &__diaries {
    position: relative;
    padding-top: 50px;
  }

  &__scroll-anchor {
    position: absolute;
    top: -55px;
    left: 0;
    width: 1px;
    height: 1px;
  }

  &__diaries-container {
    max-width: 1170px;
    margin: 0 auto;
    transition: .5s ease;
  }

  &__form-container {
    margin-bottom: 80px;
  }

  &__button-add-diary {
    display: flex;
    align-items: center;
  
    &::after {
      content: 'Добавить встречу';
      white-space: nowrap;
      color: $blue;
      font-family: $protoGrotesk;
      font-weight: 300;
      font-size: 15px;
      line-height: 1.27;
      letter-spacing: 0.2px;
      margin-left: 68px;
      pointer-events: none;
    }
  
    &:hover {
      cursor: pointer;
      background-color: $lightBlue;
    }
  }

  &__diary-form {
    visibility: visible;
    height: auto;
    opacity: 1;
    pointer-events: all;
    margin-top: 50px;
    transition: .5s ease;
  }
}

@include atDesktop1380 {
  .profile__scroll-anchor {
    top: 0;
  }
}

@include atDesktop1199 {
  .profile {
    &__diaries-container {
      max-width: 700px;
    }

    &__form-container {
      margin-bottom: 30px;
    }
  }
}

@include atDesktop1024 {
  .profile {
    &__button-add-diary {
      &::after {
        margin-left: 55px;
        font-size: 12px;
        line-height: 1.41;
      }
    }
  }
}

@include atTablet {
  .profile {
    &__events {
      margin-right: -60px;
      margin-left: -60px;
      margin-bottom: 20px;
    }

    &__title {
      margin-bottom: 20px;
    }

    &__diaries {
      padding-top: 20px;
    }

    &__form-container {
      margin-bottom: 20px;
    }
  }
}

@include atMobile {
  .profile {
    &__events {
      margin-right: -15px;
      margin-left: -15px;
    }

    &__button-add-diary {
      height: 40px;
      // padding: 0 0 0 55px;
      font-size: 12px;
      line-height: 1.42;
    }

    &__diary-form {
      margin-top: 20px;
    }
  }
}
