@import './styles/utils.scss';

.card-annotation {
  padding: 33px;
  padding-right: 10px;
  overflow: hidden;
  height: 155px;
  box-sizing: content-box;

  &_main {
    padding-top: 47px;
    padding-bottom: 30px;
    height: 100%;
    box-sizing: border-box;

    & .card-annotation__desc {
      margin-top: 95px;
    }
  }

  &__caption {
    box-sizing: border-box;
    padding-right: 10px;
    padding-bottom: 10px;
  }
}

.card-annotation__thumb {
  background-color: $backgroundAnnotation;
  border-radius: 5px;
}

.card-annotation__desc {
  box-sizing: border-box;
  padding-right: 18px;
}

@include atDesktop1199 {
  .card-annotation {
    &_main {
      padding: 30px 15px;
  
      & .card-annotation__desc {
        margin-top: 0;
      }
    }
  }
}

@include atDesktop1024 {
  .card-annotation {
    box-sizing: content-box;
    height: 128px;
    padding-left: 15px;
    padding-right: 7px;
    padding-bottom: 30px;

    &_main {
      height: 128px;
    }

    &__caption {
      padding-bottom: 5px;
    }
  }

  .card-annotation__caption {
    margin-bottom: 5px;
  }

  .card-annotation__desc {
    padding-right: 15px;
  }
}
