@import './styles/utils.scss';

.page {
  position: relative;
  max-width: 1920px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page__section {
  margin: 0 75px;
}

.main {
  padding-top: 150px;
  padding-bottom: 120px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@include atDesktop1440 {
  .page__section {
    margin: 0 135px;
  }
}

@include atDesktop1024 {
  .page__section {
    margin: 0 127px;
  }

  .main {
    padding-top: 110px;
    padding-bottom: 100px;
  }
}

@include atTabletL {
  .main {
    padding-top: 60px;
    padding-bottom: 50px;
  }
}


@include atTablet {
  .page__section {
    margin: 0 60px;
  }
}

@include atMobile {
  .page__section {
    margin: 0 15px;
  }
}
