@import './styles/utils.scss';

.card-article {
  justify-content: space-between;
  align-items: center;
  padding: 120px 30px 30px;
  min-height: 490px;

  &__link-wrap {
    width: 100%;
    text-decoration: none;
  }

  &__title {
    margin: 0 auto;
    color: $lightBlack;
    max-width: 970px;
    text-align: center;
    transition: .3s ease;

    &:hover {
      color: $blue;
    }
  }

  &__link {
    display: block;
    margin: 0 auto;
    text-decoration: none;
  }
}

@include atDesktop1024 {
  .card-article {
    padding: 30px 15px 15px;
    min-height: 312px;

    &__title {
      max-width: 690px;
    }
  }
}

@include atMobile {
  .card-article {
    max-width: 450px;
    margin: 0 auto;

    &__title {
      font-size: 19px;
      line-height: 1.2;
    }
  }
}
