@import './styles/utils.scss';

.card-book {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 30px;
}

.card-book__cover {
  width: 240px;
  min-height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  box-sizing: border-box;
  text-decoration: unset;
  text-align: center;
}

.card-book__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-book__border {
  width: 66px;
  border: 1px solid $black;
  margin-bottom: 20px;
}

.card-book__text {
  max-height: 3em;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  box-orient: vertical;
}

@include atDesktop1217 {
  .card-book {
    padding: 30px 45px;
  }

  .card-book__title {
    font-size: 19px;
    line-height: 1.21;
  }

  .card-book__cover {
    width: 100%;
    padding: 15px;
    min-height: 270px;
    max-width: 200px;
  }

  .card-book__border {
    width: 60px;
    margin-bottom: 15px;
  }
}
