@import './styles/utils.scss';

.main {
  padding-top: 150px;
  padding-bottom: 120px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@include atDesktop1024 {
  .main {
    padding-top: 110px;
    padding-bottom: 100px;
  }
}

@include atTabletL {
  .main {
    padding-top: 60px;
    padding-bottom: 50px;
  }
}
