@import './styles/utils.scss';

.profile-event-card {
  box-sizing: border-box;
  max-width: 270px;
  width: 100%;
  height: 158px;
  flex-shrink: 0;
  outline: none;
  border: none;
  background-color: transparent;
  border-radius: 30px;
  padding: 0;

  &:hover {
    cursor: pointer;
  }

  &__card {
    width: 100%;
    height: 100%;
    padding: 30px;
  }

  &__day {
    margin: 0 0 10px 0;
    font-family: $protoGrotesk;
    font-style: normal;
    font-weight: 300;
    font-size: 44px;
    line-height: 1.13;
    text-align: left;
  }

  &__title {
    margin: 0;
    font-family: $ptRootUI;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.36;
    letter-spacing: 0.2px;
    color: $black;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    box-orient: vertical;
  }
}

@include atTablet {
  .profile-event-card {
    max-width: 205px;
    max-height: 108px;

    &__card {
      padding: 15px;
    }

    &__day {
      font-size: 37px;
      line-height: 1.05;
      margin-bottom: 5px;
    }

    &__title {
      font-size: 12px;
      line-height: 1.4;
    }
  }
}
