@import '../../../styles/utils.scss';

 .card-catalog {
  max-width: 370px;
}

.card-catalog__title {
  text-align: center;
  margin-top: 20px;
}
.card-catalog__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card-catalog_type_shaped {
  flex-direction: row;
  align-items: unset;
  padding: 0;
  overflow: hidden;
  width: 370px;
  height: 370px;
}

@include atDesktop1024 {
  .card-catalog {
    max-width: 290px;
  }

  .card-catalog_type_shaped {
    margin: 0 auto;
    width: 290px;
    height: 290px;
  }
}
