@import './styles/utils.scss';

.card-catalog {
  &__title {
    max-width: 370px;
    text-align: center;
    margin-top: 20px;
  }

  &__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transform: scale(1.15);
    transition: .6s linear;
  }

  &_type_shaped {
    flex-direction: row;
    align-items: unset;
    padding: 0;
    overflow: hidden;
    width: 100%;
    object-fit: cover;
  }

  &__link-wrap {
    width: 100%;
    text-decoration: none;   
  }

  &__image-wrap {
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: auto;
    text-align: center;
    flex: 1;
    text-decoration: none;

    &::before {
      content: '';
      padding-bottom: 100%;
    }

    &:hover .card-catalog__image {
      transform: scale(1);
    } 
  }
}

@include atDesktop1024 {
  .card-catalog {
    &_type_shaped {
      margin: 0 auto;
    }
  }
}
