@import './styles/utils.scss';

.menu__link {
  font-family: $protoGrotesk;
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  text-decoration: none;
  color: $black;
  transition: 0.2s linear;

  &:hover {
    color: $blue;
  }
}

.menu__dropdown-item {
  position: relative;

  &:hover .menu__dropdown-list {
    visibility: visible;
    opacity: 1;
  }
}

@include atDesktop1279 {
  .menu__dropdown-item {
    &:hover .menu__dropdown-list{
      display: none;
    }
  }
}
