@import './styles/utils.scss';

.main-title {
  margin: 0 auto;
  width: fit-content;
  font-family: $protoGrotesk;
  font-weight: 300;
  font-size: 74px;
  line-height: 1.08;
  color: $black;
  text-align: center;
  transition: .3s ease;
}

.linkable {
  display: block;
  text-decoration: none;
  width: fit-content;
  margin: 0 auto;

  &:hover .main-title {
    color: $blue;
  }
}

@include atDesktop1024 {
  .main-title {
    font-size: 37px;
    line-height: 1.05;
  }
}
