@import './styles/utils.scss';

.button {
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  border: 1px solid;
  outline: none;
  border-radius: 100px;
  font-family: $protoGrotesk;
  font-size: 15px;
  line-height: 1.3;
  letter-spacing: 0.2px;
  white-space: nowrap;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s ease;

  &:disabled {
    color: $lightGray;
    border-color: $lightGray;
    pointer-events: none;
    user-select: none;
  }

  &_color_blue {
    color: $blue;
    border-color: $blue;

    &:hover {
      background-color: $lightBlue;
    }

    &:active {
      background-color: $blue;
      color: $background;
    }

    &:active:hover {
      background-color: $darkBlue;
      color: $background;
      border-color: $darkBlue;
    }

    &_selected {
      background-color: $blue;
      color: $background;
    }

    &_selected:hover {
      background-color: $darkBlue;
      color: $background;
      border-color: $darkBlue;
    }
  }

  &_color_black {
    color: $black;
    border-color: $black;

    &:hover {
      background-color: $lightGray;
    }

    &:active {
      background-color: $black;
      color: $background;
    }

    &:active:hover {
      background-color: $darkBlue;
      color: $background;
      border-color: $darkBlue;
    }

    &_selected {
      background-color: $black;
      color: $background;
    }

    &_selected:hover {
      background-color: $darkBlue;
      color: $background;
      border-color: $darkBlue;
    }
  }

  &_color_white {
    border-color: $background;
    color: $background;

    &:hover {
      opacity: 0.8;
    }
  }

  &_color_gray-borderless {
    border-color: transparent;
    color: $lightGray;

    &:hover {
      opacity: 0.8;
    }
  }

  &_color_blackwhite {
    border-color: $black;
    color: $black;
  }

  &__calendar_type_confirm {
    max-width: 191px;
    margin-right: 15px;
  }
}

@include atDesktop1024 {
  .button {
    height: 40px;
    padding: 0 15px;
    font-size: 12px;
    line-height: 1.4;
  }
}
