@import './styles/utils.scss';

.scrollable-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  &__callback-anchor {
    width: 1px;
    opacity: 0;
    user-select: none;
    pointer-events: none;
  }

  &__button {
    display: block;
    width: 30px;
    height: 30px;
    border: 0;
    outline: none;
    background-color: rgba($white, 0);
    background-repeat: no-repeat;
    background-position: center;
    transition: .3s ease;

    &:disabled {
      opacity: 0;
      visibility: hidden;
    }

    &:hover {
      cursor: pointer;
    }

    &_prev {
      background-image: url("../../../assets/pagination-arrow-prev_black.svg");

      &:hover {
        transform: translateX(-4px);
      }
    }

    &_next {
      background-image: url("../../../assets/pagination-arrow-next_black.svg");

      &:hover {
        transform: translateX(4px);
      }
    }
  }

  &_scrolling {
    cursor: grabbing;

    > .scrollable-container__child {
      pointer-events: none;
    }
  }
}
