@import './styles/utils.scss';

.scrollable-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  &_scrolling {
    cursor: grabbing;
  }
}
