@import './styles/utils.scss';

.card-video-main {
  text-align: center;
  width: 100%;
  min-height: 169px;
  justify-content: space-between;
  padding: 30px;
}

.card-video-main__title-wrap {
  text-align: center;
}

.card-video-main__title {
  margin: 0 auto 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  box-orient: vertical;
}

.card-video-main__info {
  margin: 0 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  box-orient: vertical;
}

.card-video-main__button {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }
}

.card-video-main__video {
  overflow: hidden;
}

.card-video-main__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  max-height: 675px;
}

.card-video-main__duration {
  position: absolute;
  bottom: 12px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0 10px;
  border-radius: 5px;
  background-color: rgba($black, .8);
  font-weight: 700;
  font-size: 40px;
  color: $white;
}

@include atDesktop1440 {
  .card-video-main {
    min-height: 147px;
  }

  .card-video-main__duration {
    bottom: 8px;
    font-size: 25px;
  }
}

@include atDesktop1024 {
  .card-video-main {
    border-radius: 0 0 30px 30px;
    padding: 15px;
  }

  .card-video-main__video-info {
    padding: 15px;
    min-height: 147px;
  }

  .card-video-main__title {
    font-size: 19px;
    line-height: 1.2;
  }

  .card-video-main__info {
    font-size: 12px;
  }

  .card-video-main__video {
    border-radius: 30px 30px 0 0;
    grid-row: 1;
  }
}

@include atTabletL {
  .card-video-main__duration {
    bottom: 8px;
    font-size: 18px;
    padding: 0 4px;
  }
}


@include atMobile {
  .card-video-main__video {
    max-width: 450px;
    margin: 0 auto;
  }

  .card-video-main__image {
    &_main {
      min-height: 165px;
    }
  }

  .card-video-main__duration {
    bottom: 6px;
    right: 6px;
    font-size: 14px;
  }
}
