@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';
@import '../../../styles/blocks/section-title.scss';

.calendar {
  min-height: 382px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 30px;
  background-color: $white;
  font-size: 14px;
  line-height: 1.4;
  font-family: $ptRootUI;
  color: $black;
  transition: .5s ease;

  &_selected {
    background-color: $lightBlue;
  }
}

.calendar_selected {
  background-color: $lightBlue;
}

.calendar__title {
  margin: 0 15px 0 0;
  max-width: 320px;
}

.calendar__weekday {
  margin: 0;
  text-transform: lowercase;
}

.calendar__buttons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.calendar__confirm {
  max-width: 191px;
  margin-right: 15px;
}

.calendar__about {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 50px;
}

.calendar__info-list {
  margin: 0 auto 30px;
  padding: 0;
  list-style-type: none;
}

.calendar__info-item {
  padding: 10px 0;
  border-bottom: 1px solid $lightGray;

  &:first-of-type {
    padding-top: 0;
  }

  &:last-of-type {
    padding-bottom: 0;
    border: none;
  }
}

.calendar__type {
  margin: 0;
  color: $darkGray;
}

.calendar__description {
  margin-top: 30px;
  max-height: 182px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgba($lightGray, .6) transparent;
  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-thumb {
    height: 30px;
    background-color: rgba($lightGray, .6);
    border-radius: 5px;
  }
}

.calendar__desc-paragraph {
  margin: 0 auto;
  font-family: $ptRootUI;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  color: $black;
  padding: 10px 5px 0 0;
  color: $lightBlack;

  &:first-of-type {
    padding-top: 0;
  }
}

.calendar__date {
  font-family: $protoGrotesk;
  font-size: 100px;
  line-height: 1;
  margin: 0;
}

.calendar__time {
  margin: 0;
  color: $lightBlack;
}

.calendar__info {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 10px;
}

.calendar__place {
  margin: 0;
  color: $lightBlack;
}

.calendar__back {
  max-width: 215px;
  align-self: center;
}

.calendar__contact {
  margin: 0;
  color: $black;
}

.calendar__submit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar__place-left {
  margin: 0 auto 0 15px;
  font-size: 14px;
  line-height: 1.4;
  font-family: $ptRootUI;
  align-self: center;
}

@include atDesktop1279 {
  .calendar {
    padding: 30px 15px;
  }

  .calendar__title {
    max-width: 246px;
  }

  .calendar__place-left {
    margin: 0 auto 0 10px;
    font-size: 12px;
  }
}

@include atDesktop1024 {
  .calendar__title {
    font-size: 19px;
    line-height: 1.2;
  }

  .calendar__caption {
    font-size: 12px;
  }

  .calendar__date {
    font-size: 60px;
  }

  .calendar__meetup {
    font-size: 12px;
  }

  .calendar__submit {
    font-size: 12px;
  }

  .calendar__button-dots {
    padding: 0 12px;
    width: 40px;
  }

  .calendar__desc-paragraph {
    font-size: 15px;
  }
}

@include atMobileL {
  .calendar__desc-paragraph {
    font-size: 12px;
  }
}

@include atMobile {
  .calendar__title {
    max-width: 166px;
  }

  .calendar__image-done {
    background-size: 260px 106px;
    width: 260px;
    height: 106px;
  }
}
