@import './styles/utils.scss';

.popup {
  &__container_type_video {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1770px;
    max-height: calc(100vh - 100px);
    width: 100%;
    padding: 60px 30px 50px;
    transform: rotateX(80deg) scale(1);
    transition: 1s ease-out;
    margin: 0 15px;
  }

  &__video-iframe-container {
    position: relative;
    width: 100%;
    border-radius: 30px;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    z-index: 1;
  }

  &__video-preview {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &__video-iframe {
    width: inherit;
    height: 100%;
    max-height: calc(100vh - 295px);
    border: 0;
    border-radius: inherit;
    aspect-ratio: inherit;
  }

  &__video-title {
    margin-top: 30px;
    text-align: center;
  }

  &__video-caption {
    text-align: center;
    margin-top: 5px;
  }
}

@include atDesktop1440 {
  .popup {
    &__container_type_video {
      max-width: 1170px;
    }
  }
}

@include atTabletL {
  .popup {
    &__container_type_video {
      padding: 50px 15px 30px;
      max-height: 100vh;
    }

    &__video-iframe {
      max-height: calc(100vh - 143px);
    }

    &__video-title {
      margin-top: 20px;
    }
  }
}

@include atMobileL {
  .popup {
    &__container_type_video {
      padding: 40px 10px 20px;
      margin: 0;
    }

    &__video-iframe {
      max-height: calc(100vh - 118px);
    }
  }
}
