@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.menu__link {
  font-family: $protoGrotesk;
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  text-decoration: none;
  color: $black;
  transition: 0.2s linear;

  &:hover {
    color: $blue;
  }
}

.menu__list-item {
  margin-left: 30px;

  &:first-of-type {
    margin-left: 0;
  }
}

.menu__dropdown-item {
  position: relative;

  &:hover .menu__dropdown-list {
    visibility: visible;
    opacity: 1;
  }
}


@include atDesktop1380 {
  .menu__list-item {
    margin-left: 0;
    margin-top: 15px;

    &:first-of-type {
      margin-top: 0;
    }
  }

  .menu__dropdown-item {
    &:hover .menu__dropdown-list{
      display: none;
    }
  }
}