@import './styles/utils.scss';

.stories {
  &__title {
    margin-bottom: 40px;
  }

  &__subtitle {
    max-width: 970px;
    margin: 0 auto 40px;
    font-family: $protoGrotesk;
    font-size: 23px;
    line-height: 1.3;
    text-align: center;

    &_block {
      margin-bottom: 50px;
    }
  }

  &__tags-carousel {
    position: relative;
    max-width: 1170px;
    margin: 0 auto 40px;
    display: flex;
    align-items: center;
    column-gap: 15px;
  }

  &__scroll-anchor {
    position: absolute;
    top: -40px;
    left: 0;
  }

  &__scroll-container {
    flex-grow: 1;
  }

  &__next-button,
  &__prev-button {
    flex-shrink: 0;
    z-index: 2;
  }

  &__next-button {
    order: 2;
  }

  &__main-photo {
    display: block;
    margin: 0 auto 50px;
    max-width: 1170px;
    width: 100%;
    max-height: 769px;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
  }

  &__pair-title {
    width: fit-content;
    margin-bottom: 10px;
    font-size: 44px;
    line-height: 1.14;
    font-weight: 300;
  }

  &__caption {
    width: fit-content;
    margin-bottom: 30px;
  }

  &__links {
    max-width: 770px;
    width: 100%;
    margin: 0 auto;
  }

  &__link {
    width: fit-content;
    margin: 0;

    &_next {
      margin-top: 85px;
    }
  }

  &__photo-carousel-container {
    position: relative;
    max-width: 1920px;
    max-height: 505px;
    overflow: hidden;
    margin: 80px -75px;
  }

  &__photo-carousel-wrapper {
    width: 2700px;
  }

  &__photo-carousel {
    max-height: 505px;

    & > .rec-carousel {

      & .rec-slider-container {
        width: inherit;
        margin: 0 auto;
      }

      & .rec-swipable {
        // сдвиг по X = ширина контейнера карточки - ((ширина страницы - ширина контейнера карточки) / 2)
        transform: translateX(calc(-900px + ((1920px - 900px) / 2)));
      }

      & > .rec-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 0;
        box-shadow: none;
        border: none;
        width: 30px;
        min-width: 30px;
        height: 30px;
        border-radius: 0;
        background-position: center;
        background-size: 30px 30px;
        background-repeat: no-repeat;
        background-color: transparent;
        z-index: 1;

        &:disabled {
          visibility: hidden;
          opacity: 0;
          cursor: default;
        }

        &.rec-arrow-left {
          left: calc((100% - 932px) / 2);
          background-image: url("../../assets/pagination-arrow-prev_black.svg");

          &:hover {
            transform: translateY(-50%) translateX(-4px);
          }
        }

        &.rec-arrow-right {
          right: calc((100% - 932px) / 2);
          background-image: url("../../assets/pagination-arrow-next_black.svg");

          &:hover {
            transform: translateY(-50%) translateX(4px);
          }
        }
      }
    }
  }

  &__carousel-image-wrap {
    overflow: hidden;
    border-radius: 30px;
    transition: .3s ease;

    &:hover {
      cursor: zoom-in;
      box-shadow: -12px 0 20px -12px rgba($black, 0.3), 12px 0 20px -12px rgba($black, 0.3);
    }
  }

  &__carousel-image {
    display: block;
    width: 770px;
    height: 505px;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
  }

  &__markdown {
    max-width: 1170px;
    margin: 0 auto;

    &_last {
      margin-bottom: 50px;
    }

    & p {
      max-width: 770px;
      margin: 0 auto 30px;
      font-family: $ptRootUI;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.44;
      text-align: left;
      color: $black;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    & blockquote {
      box-sizing: border-box;
      margin: 80px auto;

      &::before,
      &::after {
        content: '';
        display: block;
        margin: 0 auto;
        max-width: 769px;
        width: 100%;
        height: 1px;
        background-color: $lightGray;
      }

      & p {
        box-sizing: border-box;
        max-width: 1170px;
        font-size: 44px;
        line-height: 1.14;
        font-weight: 300;
        color: $lightBlack;
        text-align: center;
        padding: 60px 0;
      }
    }
  }
}

@media screen and (max-width: 1919px) {
  .stories {
    &__photo-carousel {
      & > .rec-carousel {
        & .rec-swipable {
          // сдвиг по X = -ширина контейнера карточки + ((ширина страницы - ширина контейнера карточки) / 2) - небольшая погрешность на десктопе
          transform: translateX(calc(-900px + ((100vw - 900px) / 2) - 7px));
        }
      }
    }
  }
}

@include atDesktop1440 {
  .stories {
    &__photo-carousel-container {
      margin: 80px -135px;
    }
  }
}

@include atDesktop1024 {
  .stories {
    &__title {
      margin-bottom: 20px;
    }

    &__subtitle {
      max-width: 770px;
      margin: 0 auto 30px;
      font-size: 19px;
      line-height: 1.21;

      &_block {
        margin-bottom: 30px;
      }
    }

    &__main-photo {
      margin: 0 auto 20px;
      max-height: 507px;
    }

    &__pair-title {
      font-size: 23px;
      line-height: 1.3;
    }

    &__caption {
      margin-bottom: 20px;
    }

    &__links {
      max-width: 570px;
    }

    &__link {
      &_next {
        margin-top: 55px;
      }
    }

    &__tags-carousel {
      max-width: 100vw;
      margin: 0 -127px 30px;

      & .pseudo-button-label:first-of-type {
        margin-left: 127px;
      }

      & .pseudo-button-label:last-of-type {
        margin-right: 127px;
      }
    }

    &__scroll-anchor {
      position: absolute;
      top: -18px;
      left: 0;
    }

    &__scroll-container {
      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 100%;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, $background 100%);
        z-index: 1;
        pointer-events: none;
      }
    }

    &__next-button,
    &__prev-button {
      display: none;
    }

    &__photo-carousel-container {
      margin: 50px -127px;
    }

    &__carousel-image {
      width: 570px;
      height: 379px;
    }

    &__photo-carousel-wrapper {
      width: 1800px;
    }

    &__photo-carousel {
      & > .rec-carousel {
        & .rec-swipable {
          // сдвиг по X = -ширина контейнера карточки + ((ширина страницы - ширина контейнера карточки) / 2)
          transform: translateX(calc(-600px + ((100vw - 600px) / 2)));
        }

        & > .rec-arrow {
          display: none;
        }
      }
    }

    &__markdown {
      max-width: 770px;

      &_last {
        margin-bottom: 30px;
      }

      & p {
        max-width: 570px;
        font-size: 15px;
        line-height: 1.4;
        margin: 0 auto 20px;
      }

      & blockquote {
        margin: 50px auto;

        &::before,
        &::after {
          max-width: 569px;
        }

        & p {
          box-sizing: border-box;
          max-width: 770px;
          font-size: 23px;
          line-height: 1.3;
          padding: 30px 0;
        }
      }
    }
  }
}

@include atTablet {
  .stories {
    &__tags-carousel {
      margin: 0 -60px 30px;

      & .pseudo-button-label:first-of-type {
        margin-left: 60px;
      }

      & .pseudo-button-label:last-of-type {
        margin-right: 60px;
      }
    }

    &__photo-carousel-container {
      margin: 50px -60px;
    }
  }
}

@media screen and (max-width: 706px) {
  .stories {
    &__carousel-image {
      width: 260px;
      height: 172px;
    }

    &__photo-carousel-wrapper {
      width: 825px;
    }

    &__photo-carousel {
      & > .rec-carousel {
        & .rec-swipable {
          // сдвиг по X = -ширина контейнера карточки + ((ширина страницы - ширина контейнера карточки) / 2)
          transform: translateX(calc(-275px + ((100vw - 275px) / 2)));
        }
      }
    }
  }
}

@include atMobile {
  .stories {
    &__main-photo {
      margin: 0 auto 15px;
    }

    &__tags-carousel {
      margin: 0 -15px 30px;

      & .pseudo-button-label:first-of-type {
        margin-left: 15px;
      }

      & .pseudo-button-label:last-of-type {
        margin-right: 15px;
      }
    }

    &__photo-carousel-container {
      margin: 50px -15px;
    }
  }
}
