@import './styles/utils.scss';

.stories {
  &__title {
    margin-bottom: 40px;
  }

  &__subtitle {
    max-width: 970px;
    margin: 0 auto 40px;
    font-family: $protoGrotesk;
    font-size: 23px;
    line-height: 1.3;
    text-align: center;

    &_block {
      margin-bottom: 50px;
    }
  }

  &__tags-carousel {
    max-width: 1170px;
    margin: 0 auto 40px;
  }

  &__main-photo {
    display: block;
    margin: 0 auto 50px;
    max-width: 1170px;
    width: 100%;
    max-height: 769px;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
  }

  &__pair-title {
    width: fit-content;
    margin-bottom: 10px;
    font-size: 44px;
    line-height: 1.14;
  }

  &__caption {
    width: fit-content;
    margin-bottom: 30px;
  }

  &__links {
    max-width: 770px;
    width: 100%;
    margin: 0 auto;
  }

  &__link {
    margin: 0;

    &_next {
      margin-top: 85px;
    }
  }

  &__photo-carousel-container {
    max-width: 1920px;
    max-height: 505px;
    overflow: hidden;
    margin: 80px -75px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__photo-carousel {
    width: 900px !important;
    max-height: 505px;

    & > .rec-carousel {
      position: relative;

      & .rec-slider-container {
        width: inherit;
        margin: 0 auto;
      }

      & .rec-item-wrapper {
        box-sizing: border-box;
        width: 900px !important;
      }

      & > .rec-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 0;
        box-shadow: none;
        border: none;
        width: 30px;
        min-width: 30px;
        height: 30px;
        border-radius: 0;
        background-position: center;
        background-size: 30px 30px;
        background-repeat: no-repeat;
        background-color: transparent;
        z-index: 1;

        &.rec-arrow-left {
          left: -30px;
          background-image: url("../../assets/pagination-arrow-prev_black.svg");

          &:hover {
            transform: translateY(-50%) translateX(-4px);
          }
        }

        &.rec-arrow-right {
          right: -30px;
          background-image: url("../../assets/pagination-arrow-next_black.svg");

          &:hover {
            transform: translateY(-50%) translateX(4px);
          }
        }
      }
    }
  }

  &__carousel-image {
    display: block;
    width: 770px;
    height: 505px;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
  }

  &__markdown {
    max-width: 1170px;
    margin: 0 auto;

    &_last {
      margin-bottom: 50px;
    }

    & p {
      max-width: 770px;
      margin: 0 auto 30px;
      font-family: $ptRootUI;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.44;
      text-align: left;
      color: $black;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    & blockquote {
      box-sizing: border-box;
      margin: 80px auto;

      &::before,
      &::after {
        content: '';
        display: block;
        margin: 0 auto;
        max-width: 769px;
        width: 100%;
        height: 1px;
        background-color: $lightGray;
      }

      & p {
        box-sizing: border-box;
        max-width: 1170px;
        font-size: 44px;
        line-height: 1.14;
        color: $lightBlack;
        text-align: center;
        padding: 60px 0 60px;
      }
    }
  }
}
