@import './styles/utils.scss';

.header {
  padding-top: 47px;
  transition: 0.2s linear;

  &_displayed {
    background-color: $white;
    border-radius: 0px 0px 30px 30px;
  }
}

@include atDesktop1024 {
  .header {
    padding-top: 44px;
  }
}

@include atMobile {
  .header {
    padding-top: 14px;
  }
}
