@import './styles/utils.scss';

.header {
  position: fixed;
	width: 100%;
  box-sizing: border-box;
  top: 0;
  left: 0;
  padding-top: 47px;
  padding-bottom: 15px;
  background-color: $background;
  transition: 0.4s linear;
  z-index: 10;

  &_displayed {
    background-color: $white;
    border-radius: 0px 0px 30px 30px;
  }
}

@include atDesktop1024 {
  .header {
    padding-top: 44px;
  }
}

@include atTabletL {
  .header {
    padding-top: 14px;
  }
}

.header__on-scroll-up {
  transform: translateY(-100%);
}
