@import './styles/utils.scss';

.tags {
  padding-top: 25px;
  position: relative;
}

.tags__list {
  margin: 0 auto;
  padding: 0;
  max-width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  flex-wrap: wrap;
}

.tags__list-item {
  margin-top: 15px;
}

.calendar-page__grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(470px, 520px));
  grid-template-rows: 414px;
  grid-auto-rows: 414px;
  gap: 30px;
  padding-top: 50px;
}

@include atDesktop1440 {
  .calendar-page__grid {
    grid-template-columns: repeat(2, minmax(370px, 1fr));
  }
}

@include atDesktop1023 {
  .calendar-page__grid {
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  }
}

@media screen and (max-width: 863px) {
  .calendar-page__grid {
    grid-template-columns: repeat(auto-fill, minmax(230px, 240px));
  }
}

@include atTablet {
  .calendar-page__grid {
    // grid-template-columns: repeat(auto-fill, minmax(auto, 200px));
    grid-template-columns: repeat(auto-fill, minmax(200px, 240px));
  }

  .tags {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: -1px;
      width: 40px;
      height: 100%;
      background: linear-gradient(90deg, transparent 0%, $background 100%);
      z-index: 1;
      pointer-events: none;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -1px;
      width: 40px;
      height: 100%;
      background: linear-gradient(90deg, $background 0%, transparent 100%);
      z-index: 1;
      pointer-events: none;
    }
  }
  .tags__list {
    justify-content: flex-start;
    overflow-x: scroll;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    flex-wrap: nowrap;
  }
}


@media screen and (max-width: 577px) {
  .calendar-page__grid {
    // grid-template-columns: 1fr;
    grid-template-columns: repeat(auto-fill, minmax(280px, 320px));
  }
}

@include atMobile {
  .calendar-page__grid {
    padding-top: 30px;
  }
}
