@import './styles/utils.scss';

.questions {
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  padding-top: 80px;
  list-style: none;

  &__title {
    margin-bottom: 25px;
  }

  &__list-item {
    max-width: 870px;
    margin-bottom: 30px;
    margin-right: 100px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.card__questions_type_questions-page {
  margin-right: 100px;
}

.question__paragraph {
  &:first-of-type {
    margin-top: 0;
  }
}

.add-question {
  box-sizing: border-box;
  max-width: 970px;
  margin: 80px auto 0;
}

.add-question__title {
  max-width: 650px;
  margin: 0;

  &_error {
    color: $error;
  }
}

.question-form__add-question {
  margin: 24px 0 0;
  padding: 0;
  border: none;
  display: flex;
  justify-content: space-between;
}

.input__question-form {
  > .input {
    padding: 11px 30px;
    background-color: $white;
    font-family: $ptRootUI;
    line-height: 1.4;
  }
}

.question-form {
  &_invisible {
    display: none;
  }
}

.load-more-button {
  width: 250px;
  margin: 0 auto;
  margin-top: 70px;
  position: relative;
  z-index: 3;
}

@include atDesktop1024 {
  .questions {
    max-width: 770px;
    padding-top: 50px;

    &__title {
      margin-bottom: 10px;
    }

    &__list-item {
      margin-right: 0;
    }
  }

  .card__questions_type_questions-page {
    margin-right: 0px;
  }

  .question__answer {
    &_visible {
      margin-top: 10px;
    }
  }

  .question-form__add-question {
    margin-top: 20px;
  }

  .input__question-form {
    > .input {
      padding-top: 10px;
      padding-bottom: 9px;
      height: 40px;
    }
  }

  .add-question {
    max-width: 770px;
    margin: 50px auto 0;
  }
}

@include atMobile {
  .questions {
    padding-top: 30px;
  }
  .question-form__add-question {
    flex-direction: column;
  }

  .question-form__button {
    margin-top: 20px;
    width: 100%;
  }
}
