@import './styles/utils.scss';

.questions {
  max-width: 970px;
  margin: 0 auto;
  padding: 0;
  padding-top: 80px;
  list-style: none;

  &__title {
    margin-bottom: 25px;
  }

  &__list-item {
    margin-bottom: 30px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.card__questions_type_questions-page {
  margin-right: 100px;
}

.question__answer {
  visibility: hidden;
  height: 0;
  opacity: 0;
  margin: 0;
  transition: margin-top 0.3s ease;

  &_visible {
    margin-top: 30px;
    visibility: visible;
    height: auto;
    opacity: 1;
    transition: margin-top 0.5s ease;
  }
}

.question__paragraph {
  &:first-of-type {
    margin-top: 0;
  }
}

.button-round__questions-page {
  position: absolute;
  right: -150px;
  top: -80px;
}

.add-question {
  box-sizing: border-box;
  max-width: 970px;
  margin: 80px auto 0;
}

.add-question__title {
  max-width: 650px;
  margin: 0;

  &_error {
    color: $error;
  }

  &_success {
    color: $green;
  }
}

.question-form__add-question {
  margin: 24px 0 0;
  padding: 0;
  border: none;
  display: flex;
  justify-content: space-between;
}

.input__question-form {
  width: 100%;
  padding: 11px 30px;
  background-color: $white;
  font-family: $ptRootUI;
  line-height: 1.4;
}

.question-form {
  &_invisible {
    display: none;
  }
}

@include atDesktop1024 {
  .questions {
    padding-top: 50px;

    &__title {
      margin-bottom: 10px;
    }
  }

  .card__questions_type_questions-page {
    margin-right: 0px;
  }

  .question__answer {
    &_visible {
      margin-top: 10px;
    }
  }

  .button-round__questions-page {
    position: relative;
    top: auto;
    right: auto;
    align-self: flex-end;
  }

  .question-form__add-question {
    margin-top: 20px;
  }

  .input__question-form {
    padding-top: 10px;
    padding-bottom: 9px;
  }

  .add-question {
    margin: 50px auto 0;
  }
}

@include atMobile {
  .questions {
    padding-top: 30px;
  }
  .question-form__add-question {
    flex-direction: column;
  }

  .question-form__button {
    margin-top: 20px;
    width: 100%;
  }
}
