@import './styles/utils.scss';

.card-figure {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  object-fit: cover;
  padding: 0 55px;

  &_color_yellow {
    background-color: $yellow;
  }

  &_color_green {
    background-color: $green;
  }

  &_color_pink {
    background-color: $pink;
  }

  &_color_blue {
    background-color: $lightBlue;
  }

  &_form_square {
    border-radius: 3px;
  }

  &_form_circle {
    border-radius: 100%;
  }

  &_form_arch {
    border-radius: 300px 300px 3px 3px;
  }
}

@include atDesktop1440 {
  .card-figure {
    padding: 0 30px;
  }
}

@include atDesktop1024 {
  .card-figure {
    padding: 0 20px;
  }
}
