@import './styles/utils.scss';

.books {
  &__title {
    margin-bottom: 25px;
  }

  &__cards {
    padding: 80px 0 0;
    margin: 0;
    list-style-type: none;
  }
}

@include atDesktop1024 {
  .books {
    &__title {
      margin-bottom: 10px;
    }

    &__cards {
      padding-top: 50px;
    }
  }
}

@include atTablet {
  .books {
    &__cards {
      padding-top: 30px;
    }
  }
}
