@import './styles/utils.scss';

.books {
  &__title {
    margin-bottom: 25px;
  }

  &__cards {
    padding: 80px 0 0;
    margin: 0;
    list-style-type: none;
  }

  &__single-book-container {
    max-width: 770px;
    margin: 80px auto 0;

    & .card-container {
      max-width: 420px;
      margin-bottom: 30px;
    }
  }

  &__paragraph {
    margin: 0 auto;
  }
}

@include atDesktop1024 {
  .books {
    &__title {
      margin-bottom: 10px;
    }

    &__cards {
      padding-top: 50px;
    }

    &__single-book-container {
      max-width: 570px;
      margin-top: 50px;
    }
  }
}

@include atTablet {
  .books {
    &__cards {
      padding-top: 30px;
    }

    &__single-book-container {
      margin-top: 30px;
    }
  }
}
