@import './styles/utils.scss';

.movies__cards {
  padding: 0;
  margin-top: 80px;
}

@include atDesktop1024 {
  .movies__cards {
    padding-top: 50px;
  }
}

@include atMobileL {
  .movies__cards {
    padding-top: 30px;
  }
}
