@import './styles/utils.scss';

.cards-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(346px, 1fr));
  grid-template-rows: max-content [first-line] 1px max-content [second-line] 1px max-content [third-line] 1px max-content;
  grid-gap: 0 30px;

  &__line {
    grid-column: 1 / -1;
    background: $black;

    &:nth-of-type(1) {
      grid-row-start: first-line;
    }

    &:nth-of-type(2) {
      grid-row-start: second-line;
    }

    &:nth-of-type(3) {
      grid-row-start: third-line;
    }
  }

  &__item {
    width: 100%;
    margin: 80px auto;
  }
}

@include atDesktop1400 {
  .cards-section {
    grid-template-columns: repeat(2, minmax(290px, 1fr));
  }
}

@include atDesktop1199 {
  .cards-section {
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    grid-template-rows: max-content [first-line] 1px max-content;
  }
}

@include atDesktop1024 {
  .cards-section {
    padding: 36px 0 0;
    grid-template-rows: max-content [first-line] 1px max-content;

    &__item {
      margin: 30px auto;
    }
  }
}

@include atTabletL {
  .cards-section {
    padding: 0;
    grid-template-columns: 1fr;
    grid-template-rows: max-content [first-line] 1px max-content [second-line] 1px max-content [third-line] 1px max-content;
  }
}
