@import './styles/utils.scss';

.card-annotation {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  border-radius: 30px;
  background-color: $white;
  box-sizing: border-box;
  overflow: hidden;

  &_main {
    padding-top: 47px;
    padding-bottom: 30px;

    & .card-annotation__desc {
      margin-top: 95px;
    }
  }
}

.card-annotation__content {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: $backgroundAnnotation transparent;
  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-thumb {
    height: 30px;
    background-color: $backgroundAnnotation;
    border-radius: 5px;
  }
}

.card-annotation__desc {
  padding-right: 5px;
}

@include atDesktop1199 {
  .card-annotation__desc {  
    &_main {
      margin-top: 0;
    }
  }
}

@include atDesktop1024 {
  .card-annotation {
    padding-right: 7px;
    padding-bottom: 30px;
  }

  .card-annotation__caption {
    margin-bottom: 5px;
  }
}
