@import './styles/utils.scss';

.place__main {
  padding-top: 80px;
  padding-bottom: 80px;
}

@include atDesktop1024 {
  .place__main {
    padding-top: 50px;
    padding-bottom: 0;
  }
}

@include atMobileL {
  .place__main {
    padding-top: 30px;
  }
}