@import './styles/utils.scss';

.profile-form {
  max-width: 1170px;
  grid-template-columns: minmax(300px, 470px) minmax(600px, 700px);
  grid-template-rows: minmax(475px, 1fr);

  &__photo-upload {
    position: relative;
    overflow: hidden;
  }

  &__uploaded-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__input-wrap {
    &_textarea {
      grid-column: 1 / -1;
      min-height: 286px;

      > .textarea {
        max-height: 100%;
        min-height: 286px;
        resize: none;
      }
    }
  }

  &__input-upload {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &_hidden {
      opacity: 0;
      transition: .3s ease;
  
      &:hover {
        opacity: 1;
      }
    }
  }

  &__label-file {
    display: block;
    position: relative;
    margin: 0 auto;

    &:hover {
      cursor: pointer;

      & .profile-form__pseudo-button {
        transform: scale(1.1);
      }
    }
  }

  &__input-file {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }

  &__pseudo-button {
    display: block;
    margin: 0 auto;

    &_error {
      border: 1px solid $error;
      background-image: url(../../assets/error-cross.svg);
    }
  }

  &__input-upload_hidden .profile-form__pseudo-button {
    border: 1px solid $background;
    background-image: url(../../assets/black-cross.svg);
    background-color: rgba($background, .5);

    &:hover {
      background-color: rgba($background, .9);
    }
  }

  &__input-upload_error .profile-form__pseudo-button {
    border: 1px solid $error;
    background-image: url(../../assets/error-cross.svg);
    background-color: rgba($error, .2);

    &:hover {
      background-color: rgba($error, .5);
    }
  }

  &__text-container {
    box-sizing: border-box;
    padding: 30px 30px 20px;
  }

  &__texts {
    width: 100%;
    display: grid;
    gap: 20px 30px;
    grid-template-columns: minmax(200px, 1fr) minmax(180px, 240px);
    grid-template-rows: auto;
  }

  &__caption {
    color: $lightGray;
    font-size: 15px;
    line-height: 1.27;
    margin-top: 15px;

    &_error {
      color: $error;
	    -webkit-text-shadow: 1px 1px 0 $black; 
	    -moz-text-shadow: 1px 1px 0 $black;
      text-shadow: 1px 1px 0 $black; 
    }
  }

  &__input-upload_hidden .profile-form__caption {
    display: none;
  }

  &__submit-zone {
    grid-column: 1 / -1;
  }

  &__ratings-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__ratings {
    display: flex;
    align-items: center;
  }

  &__ratings-text {
    margin-left: 15px;
    color: $lightGray;
    
    &_type_good {
      color: $green;
    }
  
    &_type_neutral {
      color: $lightGray;
    }
  
    &_type_bad {
      color: $error;
    }
  }

  &__rating {
    margin-right: 15px;
    transition: .3s ease;
  
    &:last-of-type {
      margin-right: 0;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
  }

  &__button_el_delete {
    margin-right: 20px;
    margin-left: 10px;
  }
}

@include atDesktop1199 {
  .profile-form {
    max-width: 700px;
    grid-template-columns: 1fr;
    grid-template-rows: 290px 1fr;
  }
}

@include atTabletL {
  .profile-form {
    &__texts {
      grid-template-columns: 1fr;
      gap: 5px;
    }

    &__input_el_textarea {
      min-height: 120px;
    }

    &__submit-zone {
      flex-direction: column;
      align-items: stretch;
      margin-top: 15px;
    }

    &__ratings-buttons {
      flex-direction: column;
      align-items: stretch;
    }

    &__ratings {
      margin-bottom: 30px;
      justify-content: flex-start;
    }

    &__buttons {
      justify-content: space-between;
    }

    &__button_el_add {
      order: -1;
    }

    &__button_el_delete {
      margin: 0;
    }
  }
}

@include atMobile {
  .profile-form {
    &__text-container {
      padding: 30px 15px;
    }

    &__caption {
      font-size: 12px;
      line-height: 1.42;
    }

    &__rating {
      margin-right: 10px;
    }

    &__pseudo-button {
      width: 80px;
      height: 80px;
      background-size: 19px;
    }
  }
}
