@import './styles/utils.scss';

.main-title {
  margin: 0 auto;
  width: fit-content;
  font-family: $protoGrotesk;
  font-weight: 300;
  font-size: 74px;
  line-height: 108%;
  color: $black;
  text-align: center;
}

@include atDesktop1024 {
  .main-title {
    font-size: 37px;
    line-height: 105%;
  }
}
