@import './styles/utils.scss';

.popup-diary__title {
  margin-bottom: 30px;
  text-align: center;
}

.popup-diary__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-diary__button:first-of-type {
  margin-right: 30px;
}

@include atDesktop1024 {
  .popup-diary__button:first-of-type {
    margin-right: 15px;
  }
}