@import './styles/utils.scss';

.card-question {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  padding: 50px 50px 47px;
  background-color: $white;
  border-radius: 30px;
  margin-bottom: 30px;

  &:last-of-type {
    margin-bottom: 0;
  }

  & .rubric {
    align-self: flex-start;
    background-color: $background;
  }
}

.card-question__link {
  display: block;
  text-decoration: none;
}

.card-question__title {
  max-width: 770px;
  margin-bottom: 17px;
}

@include atDesktop1400 {
  .main-questions__container .card-question {
    &:nth-last-of-type(-n+1) {
      display: none;
    }
  }
}

@include atDesktop1024 {
  .card-question {
    padding: 30px 15px;
  }
}

@include atTabletL {
  .main-questions__container .card-question {
    &:nth-last-of-type(-n+1) {
      display: flex;
    }
  }
}