@import './styles/utils.scss';

.popup {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s linear;
  z-index: 100;

  &__container {
    display: flex;
    width: 100%;
    padding: 50px 100px;
    border-radius: 30px;
    background-color: $white;
    font-family: $ptRootUI;
    box-sizing: border-box;
    position: relative;
    justify-content: center;
    align-items: center;
    transform: scale(2);
    opacity: 0;
    transition: .3s ease-out;

    &_type_sign-in {
      max-width: 770px;
      overflow: hidden;
    }

    &_type_calendar {
      min-height: 670px;
      max-width: 770px;
    }

    &_type_confirm-diary {
      width: 100%;
      height: 100%;
      max-width: 470px;
      max-height: 238px;
      padding: 30px;
    }
  }

  &__form {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
}

.popup_opened {
  display: flex;
  opacity: 1;
  visibility: visible;
}

.popup.popup_opened {
  .popup {
    &__container {
      transform: scale(1);
      opacity: 1;
    }

    &_type_video {
      transform: rotateX(0) scale(1);
    }
  }
}

.popup__close {
  padding: 0;
  position: absolute;
  top: 20px;
  right: 20px;
  background-image: url('../../../assets/popup_close.svg');
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-color: transparent;
  outline: none;
  border: none;
  color: $blue;

  &:hover {
    cursor: pointer;
  }

  &_type_video {
    top: 10px;
  }
}

.popup__title {
  &_type_sign-in {
    margin: 0 auto 15px;
    text-align: center;
  }

  &_type_calendar {
    max-width: 570px;
    margin: 0 auto 5px;
    text-align: center;
  }
}

.popup__button {
  &_type_calendar {
    max-width: 191px;
    margin-right: 15px;
  }
}

@include atDesktop1024 {
  .popup__container {
    padding: 50px;
    max-width: 570px;
    margin: 0 15px;

    &_type_calendar {
      margin: 0 60px;
      min-height: 470px;
    }

    &_type_confirm-diary {
      width: 100%;
      max-width: 320px;
      max-height: 216px;
      min-height: 216px;
      padding: 15px;
    }
  }
}

@include atTabletL {
  .popup__close {
    &_type_video {
      right: 5px;
    }
  }
}

@include atMobileL {
  .popup__close {
    top: 15px;
    right: 15px;

    &_type_video {
      top: 5px;
      right: 5px;
    }
  }

  .popup__container {
    padding: 60px 15px 30px;

    &_type_sign-in {
      padding-bottom: 50px;
    }

    &_type_confirm-diary {
      padding: 15px;
    }
  }
}

@include atMobile {
  .popup__container {
    &_type_cities {
      max-width: 320px;
    }

    &_type_calendar {
      margin: 0 15px;
    }
  }
}
