@import './styles/utils.scss';

.main__not-found {
  justify-content: center;
}

.page-not-found-title {
  margin: 0 auto 30px;
  text-align: center;
}

@include atMobile {
  .page-not-found-title {
    margin-bottom: 10px;
  }
}
