@import './styles/utils.scss';

.article-container {
  width: 100%;
}

.article-lead {
  background-color: $yellow;
  border-top-right-radius: 400px;
  border-bottom-right-radius: 400px;
  padding: 230px 50px;
  box-sizing: border-box;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 178px;
  &::before {
    content: '';
    position: absolute;
    background-color: $yellow;
    border-bottom-left-radius: 400px;
    height: 250px;
    width: 80%;
    top: -250px;
    right: 0;
    z-index: -1;
  }

  &_form_oval {
    border-radius: 400px;
    &::before {
      right: auto;
      left: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 400px;
    }
  }

  &_form_trapezoid {
    border-radius: 3px 3px 400px 400px;
    &::before {
      width: 100%;
      border-radius: 3px 3px 400px 400px;
    }
  }
}

.article-lead__content {
  margin: auto;
  max-width: 868px;
  text-align: center;
}

.article-lead__text {
  margin-top: 30px;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;
}

.article__main-title {
  text-align: center;
}

.article__description {
  margin-top: 40px;
  text-align: center;
}

.article__figure {
  margin: 50px 0 0;
}

.article__image {
  width: 100%;
  border-radius: 30px;
  object-fit: cover;
}

.article__figcaption {
  margin-top: 10px;
}

.article__container {
  margin-top: 50px;
  max-width: 770px;
}

.article__subtitle {
  margin-top: 80px;
  margin-bottom: 30px;
  text-align: center;

  &:first-of-type {
    margin-top: 0;
  }
}

.article__card {
  margin: 0;
  padding: 50px;
}

.article__card-list-item {
  list-style-type: none;
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px solid $lightGray;

  &:first-of-type {
    padding-top: 0;
  }

  &:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
  }
}

.next-page {
  margin-right: auto;
  padding-top: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.next-page__img-wrap {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: $green;
}

.next-page__img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  &[src='#'] {
    display: none;
  }
}

.next-page__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
}

.next-page__title {
  color: $blue;
  padding: 0 30px;
}

.next-page__arrow-icon {
  width: 30px;
}

@include atDesktop1440 {
  .article-lead {
    padding-top: 135px;
    padding-bottom: 135px;
    margin-top: 250px;
    &::before {
      height: 320px;
      top: -320px;
    }

    &_form_oval {
      margin-top: 150px;
      padding-top: 185px;
      padding-bottom: 185px;
      &::before {
        height: 220px;
        top: -220px;
      }
    }

    &_form_trapezoid {
      margin-top: 150px;
      padding-top: 185px;
      padding-bottom: 185px;
      &::before {
        height: 220px;
        top: -220px;
      }
    }
  }

  .article {
    max-width: 970px;
  }
}

@include atDesktop1024 {
  .article-lead {
    margin-top: 187px;
    padding-top: 70px;
    padding-bottom: 70px;
    &::before {
      height: 270px;
      top: -270px;
    }

    &_form_oval {
      margin-top: 85px;
      padding-top: 120px;
      padding-bottom: 120px;
      &::before {
        height: 165px;
        top: -165px;
      }
    }

    &_form_trapezoid {
      margin-top: 85px;
      padding-top: 120px;
      padding-bottom: 120px;
      &::before {
        height: 165px;
        top: -165px;
      }
    }
  }

  .article {
    max-width: 770px;
  }

  .article__main-title {
    max-width: 650px;
    font-size: 37px;
  }

  .article__description {
    margin-top: 20px;
  }

  .article__figure {
    margin-top: 40px;
  }

  .article__container {
    margin-top: 30px;
    max-width: 570px;
  }

  .article__subtitle {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .article__card {
    padding: 30px;
  }

  .next-page {
    padding-top: 30px;
  }

  .next-page__arrow-icon {
    width: 20px;
    padding-right: 25px;
  }
}

@include atTablet {
  .article-lead {
    padding: 20px 15px 50px;
    margin-top: 0;
    border-radius: unset;
    &::before {
      height: 60px;
      top: -60px;
      width: 100%;
      border-radius: unset;
    }
  }
}


@include atMobile {
  .article {
    padding-top: 20px;
  }

  .article__main-title {
    font-size: 23px;
  }

  .article__description {
    margin-top: 30px;
  }

  .article__figure {
    margin-top: 20px;
  }

  .article__card {
    padding: 30px 15px;
  }

  .next-page__title {
    padding-left: 15px;
  }

  .next-page__arrow-icon {
    padding-right: 5px;
  }
}
