@import './styles/utils.scss';

.page {
  position: relative;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__section {
    margin: 0 75px;
  }

  &__title {
    margin: 0 auto 40px;
    text-align: center;
  }

  &__grid {
    padding-top: 80px;
  }
}

.form-error-message {
  color: $error;
  font-family: $protoGrotesk;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 10px;
}

@include atDesktop1440 {
  .page {
    &__section {
      margin: 0 135px;
    }
  }
}

@include atDesktop1024 {
  .page {
    &__section {
      margin: 0 127px;
    }

    &__title {
      margin-bottom: 20px;
    }

    &__grid {
      padding-top: 50px;
    }
  }
}

@include atTablet {
  .page {
    &__section {
      margin: 0 60px;
    }

    &__grid {
      padding-top: 30px;
    }
  }
}

@include atMobile {
  .page {
    &__section {
      margin: 0 15px;
    }
  }

  .form-error-message {
    font-size: 12px;
  }
}
