@import './styles/vendor/normalize.css';
@import './styles/vendor/fonts/fonts.css';

@import './styles/blocks/body';

// глобальные стили библиотек
@import './styles/blocks/react-elastic-carousel';
@import './styles/blocks/react-markdown';

// анимации
@import './styles/blocks/fade-in';
@import './styles/blocks/scale-in';
@import './styles/blocks/slide-in';
@import './styles/blocks/slide-bottom-up';
@import './styles/blocks/image-scale';

// общие блоки
@import './styles/blocks/card-pagination';
@import './styles/blocks/card-container';
@import './styles/blocks/cards-grid';
@import './styles/blocks/main-section';

@import './styles/blocks/link';
@import './styles/blocks/paragraph';
@import './styles/blocks/caption';
@import './styles/blocks/section-title';
@import './styles/blocks/chapter-title';
@import './styles/blocks/scroll-thumb';
