@import './styles/utils.scss';

/* глобальная отмена стандартных ховеров стрелок из библиотеки */
.rec.rec-arrow.rec-arrow-right:hover,
.rec.rec-arrow.rec-arrow-right:focus,
.rec.rec-arrow.rec-arrow-left:hover,
.rec.rec-arrow.rec-arrow-left:focus {
  color: transparent;
  background-color: transparent;
  box-shadow: none;
}

.readwatch {
  &__section {
    position: relative;
  }

  &__slider-container {
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-right: -15px;
  }

  &__slider-container .cards-section__item {
    margin-top: 0; // отступ от карточки выше
    margin-bottom: 0; // отступ от карточки ниже
  }

  &__container {
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 20px;
    border-bottom: 1px solid $blue;
    margin-bottom: 50px;
  }

  &__heading-link {
    text-decoration: none;
  }

  &__heading {
    text-align: center;
    color: $blue;
    transition: all 0.3s linear;

    &:hover {
      color: $darkBlue;
    }
  }

  &__item-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  // стили для библиотечной карусели
  &__carousel {
    > .rec-carousel {

      & > .rec-slider-container {
        margin: 0;
      }

      // стрелки
      & > .rec-arrow {
        position: absolute;
        top: 15px;
        font-size: 0;
        box-shadow: none;
        border: none;
        width: 30px;
        min-width: 30px;
        height: 30px;
        border-radius: 0;
        background-position: center;
        background-size: 30px 30px;
        background-repeat: no-repeat;
        background-color: transparent;

        &.rec-arrow-left {
          right: 60px;
          background-image: url("../../assets/arrow-left-blue.svg");

          &:disabled {
            background-image: url("../../assets/arrow-left-grey.svg");
            cursor: default;
          }

          &:hover {
            transform: translateX(-4px);
          }
        }

        &.rec-arrow-right {
          right: 5px;
          background-image: url("../../assets/arrow-right-blue.svg");

          &:disabled {
            background-image: url("../../assets/arrow-right-grey.svg");
            cursor: default;
          }

          &:hover {
            transform: translateX(4px);
          }
        }

        &:disabled:hover {
          transform: none;
        }
      }
    }
  }
}

/* анимация карточек в карусели */
@keyframes scale {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.rec-item-wrapper {
  animation: scale 1s ease-out forwards;
  height: 100%;
}

@media (max-width: 1440px) {
  .readwatch {
    &__item-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (max-width: 1120px) {
  .readwatch {
    &__item-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@include atDesktop1024 {
  .readwatch {
    &__heading {
      text-align: left;
    }

    &__container {
      justify-content: flex-start;
      padding-bottom: 10px;
      margin-bottom: 30px;
    }

    &__carousel {
      > .rec-carousel {
        & > .rec-arrow {
          top: 5px;
          width: 20px;
          min-width: 20px;
          height: 20px;
          background-size: 20px 20px;

          &.rec-arrow-left {
            right: 40px;
          }
        }
      }
    }
  }
}

@media (max-width: 820px) {
  .readwatch {
    &__item-grid {
      grid-template-columns: 1fr;
    }
  }
}

@media (max-width: 767px) {
  .readwatch {
    &__container {
      margin-bottom: 20px;
    }
  }
}
