.search-button {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  background-image: url('./assets/search-icon.svg');
}
