@import './styles/utils.scss';

//блок заголовка
.about__title {
  margin: 0 auto 50px;
  text-align: center;
  max-width: 1170px;
}

.about__logo {
  display: block;
  max-width: 357px;
  margin: 0 auto 80px;
  text-decoration: none;
}

// блок круга с текстом
.about__us {
  display: grid;
  grid-template-columns: 570px 600px;
  grid-template-rows: 570px;
  justify-content: center;
  margin: 0 auto 80px;
}

.about__annotation {
  padding: 52px 27px;
  height: 100%;
}

.about__paragraph {
  margin-bottom: 30px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

//блок цитаты
.about__quote {
  margin-bottom: 80px;
}

// блок карточек
.about__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  margin: 0 auto;
}

@include atDesktop1440 {
  .about__title {
    max-width: 1030px;
  }
}

@include atDesktop1380 {
  .about__us {
    grid-template-columns: 570px;
    grid-template-rows: 358px 1fr;

    & .card-figure {
      width: 370px;
      margin: 0 auto;
    }
  }

  .about__annotation {
    padding: 30px 15px;
  }

  .about__paragraph {
    font-size: 15px;
    line-height: 1.4;
  }
}


@include atDesktop1024 {
  .about__logo {
    max-width: 252px;
    margin-bottom: 50px;
  }

  .about__title {
    margin-bottom: 30px;
  }

  .about__us {
    margin-bottom: 50px;
  }

  .about__quote {
    margin-bottom: 50px;
  }

  .about__cards {
    max-width: 570px;
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}

@include atTablet {
  .about__us {
    grid-template-columns: 1fr;
  }
}

@include atMobile {
  .about-logo {
    margin-bottom: 30px;
  }

  .about__us {
    grid-template-rows: 280px 1fr;

    & .card-figure {
      width: 290px;
    }
  }

  .about__title {
    margin-bottom: 20px;
  }
}
