.user-button {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  transition: .3s ease;
  
  &_unauthorized {
    background-image: url('./assets/user-icon.svg');
  }

  &_authorized {
    background-image: url('./assets/user-icon_active.svg');
  }
}
